<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptoms_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_contact_symptom, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_contact_symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_contact_symptom.errors.count, "error") %> prohibited this lampiran_eleven_contact_symptom from being saved:</h2>

      <ul>
      <% lampiran_eleven_contact_symptom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <div class="custom-control custom-checkbox">
    <%= form.check_box :is_contact_experiencing_pain,
      class: "custom-control-input" %>
    <%= form.label :is_contact_experiencing_pain,
      "Kontak mengalami sakit",
      class: "custom-control-label" %>
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
    <%= form.check_box :is_fever,
      class: "custom-control-input" %>
    <%= form.label :is_fever,
      "Demam (≥38°C) atau riwayat demam",
      class: "custom-control-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :explain_of_fever,
      "Sebutkan suhunya",
      class: "form-control-label" %>
    <%= form.text_field :explain_of_fever, class: "form-control col-md-4" %>
  </div>

  <div class="form-group long-label-checkbox">
    <div class="custom-control custom-checkbox">
    <%= form.check_box :is_ili,
      class: "custom-control-input" %>
    <%= form.label :is_ili,
      "Mengalami gejala batuk, sakit tenggorokan, pilek, kesulitan bernafas dalam
      14 hari ini sebelum kasus Konfirmasi/PDP menimbulkan gejala sampai hari ini?",
      class: "custom-control-label mb-3" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date_of_symptom, 
      "Tanggal onset timbulnya gejala",
      class: "form-control-label" %>
    <%= form.text_field :date_of_symptom, class: "form-control col-md-4 datepicker", autocomplete: "off" %>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
    <%= form.check_box :status_asymptomatic,
      class: "custom-control-input" %>
    <%= form.label :status_asymptomatic,
      "Asymptomatic",
      class: "custom-control-label" %>
    </div>
  </div>

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
