<p id="notice"><%= notice %></p>

<h1>Lampiran Eleven Contact Symptoms</h1>

<table>
  <thead>
    <tr>
      <th>Is sore throat</th>
      <th>Date of sore throat</th>
      <th>Is cough</th>
      <th>Date of cough</th>
      <th>Is flu</th>
      <th>Date of flu</th>
      <th>Is out of breath</th>
      <th>Date of out of breath</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% if !@lampiran_eleven_info_exposes_officer.contact_symptom.nil? %>
  <tbody>
      <tr>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.is_sore_throat %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.date_of_sore_throat %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.is_cough %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.date_of_cough %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.is_flu %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.date_of_flu %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.is_out_of_breath %></td>
        <td><%= @lampiran_eleven_info_exposes_officer.contact_symptom.date_of_out_of_breath %></td>
        <td><%= link_to 'Show', lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_info_exposes_officer.contact_symptom) %></td>
        <td><%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_info_exposes_officer.contact_symptom) %></td>
        <td><%= link_to 'Destroy', lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_info_exposes_officer.contact_symptom), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
<% end %>
</table>

<br>

