<p id="notice"><%= notice %></p>

<p>
  <strong>Lampiran eleven info exposes officer:</strong>
  <%= @lampiran_eleven_contact_symptom.lampiran_eleven_info_exposes_officer %>
</p>

<p>
  <strong>Is sore throat:</strong>
  <%= @lampiran_eleven_contact_symptom.is_sore_throat %>
</p>

<p>
  <strong>Date of sore throat:</strong>
  <%= @lampiran_eleven_contact_symptom.date_of_sore_throat %>
</p>

<p>
  <strong>Is cough:</strong>
  <%= @lampiran_eleven_contact_symptom.is_cough %>
</p>

<p>
  <strong>Date of cough:</strong>
  <%= @lampiran_eleven_contact_symptom.date_of_cough %>
</p>

<p>
  <strong>Is flu:</strong>
  <%= @lampiran_eleven_contact_symptom.is_flu %>
</p>

<p>
  <strong>Date of flu:</strong>
  <%= @lampiran_eleven_contact_symptom.date_of_flu %>
</p>

<p>
  <strong>Is out of breath:</strong>
  <%= @lampiran_eleven_contact_symptom.is_out_of_breath %>
</p>

<p>
  <strong>Date of out of breath:</strong>
  <%= @lampiran_eleven_contact_symptom.date_of_out_of_breath %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_info_exposes_officer.contact_symptom) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officer_contact_symptoms_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer) %>
