
<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = l_six_first_fourth_f_positive_dests_path(@l_six_first,@l_six_fourth)
  method = "post"
%>
<% else %>
<% url = l_six_first_fourth_f_positive_dest_path(@l_six_first,@l_six_fourth,@l_six_f_positive_dest)
  method = "patch"
%>
<% end %>
<%= form_for(l_six_f_positive_dest, url: url, :method => method) do |form| %>
  <% if l_six_f_positive_dest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_f_positive_dest.errors.count, "error") %> prohibited this l_six_f_positive_dest from being saved:</h2>

      <ul>
      <% l_six_f_positive_dest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :name,
          "Nama",
          class: "form-control-label" %>
        <%= form.text_field :name,
          class: "form-control" %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :address,
          "Alamat",
          class: "form-control-label" %>
        <%= form.text_area :address,
          class: "form-control",
          rows: 3 %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :relation,
          "Hubungan",
          class: "form-control-label" %>
        <%= form.text_field :relation,
          class: "form-control" %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :date_contact,
          "",
          class: "form-control-label" %>
        <%= form.text_field :date_contact,
          class: "form-control datepicker",
          autocomplete: "off",
          value: @l_six_f_positive_dest.date_contact.nil? ? "" : @l_six_f_positive_dest.date_contact.strftime("%d/%m/%Y") %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :last_date_contact,
          "",
          class: "form-control-label" %>
        <%= form.text_field :last_date_contact,
          class: "form-control datepicker",
          autocomplete: "off",
          value: @l_six_f_positive_dest.last_date_contact.nil? ? "" : @l_six_f_positive_dest.last_date_contact.strftime("%d/%m/%Y") %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
