<% content_for :judul_page do %>
  Faktor Kontak/Paparan
<% end %>
<% content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to l_six_firsts_path do %>
            <%= icon("fas", "file-alt") %>
          <% end %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'Form 6', @l_six_first %>
        </li>
        <li class="breadcrumb-item">
        <%= link_to 'D', l_six_first_second_third_fourth_path(
            @l_six_first,
            @l_six_second,
            @l_six_third,
            @l_six_fourth) %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Kontak Erat Dengan Kasus Konfirmasi </li>
    </ol>
<% end %>
<% content_for :header_button do%>
    <%= link_to 'Back', 
        @l_six_first, 
        class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Kontak Erat Dengan Kasus Konfirmasi Edit</h3>
            </div>
            <div class="card-body">
                <%= render 'form', l_six_f_positive_dest: @l_six_f_positive_dest %>
            </div>
        </div>
    </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>