<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @l_six_f_positive_dest.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @l_six_f_positive_dest.address %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @l_six_f_positive_dest.relation %>
</p>

<p>
  <strong>Date contact:</strong>
  <%= @l_six_f_positive_dest.date_contact %>
</p>

<p>
  <strong>Last date contact:</strong>
  <%= @l_six_f_positive_dest.last_date_contact %>
</p>

<%= link_to 'Edit', edit_l_six_f_positive_dest_path(@l_six_f_positive_dest) %> |
<%= link_to 'Back', l_six_f_positive_dests_path %>
