<p id="notice"><%= notice %></p>

<p>
  <strong>Province:</strong>
  <%= @l_six_f_out_town_dest.province %>
</p>

<p>
  <strong>City:</strong>
  <%= @l_six_f_out_town_dest.city %>
</p>

<p>
  <strong>Travel date:</strong>
  <%= @l_six_f_out_town_dest.travel_date %>
</p>

<p>
  <strong>Date arrive:</strong>
  <%= @l_six_f_out_town_dest.date_arrive %>
</p>

<%= link_to 'Edit', edit_l_six_f_out_town_dest_path(@l_six_f_out_town_dest) %> |
<%= link_to 'Back', l_six_f_out_town_dests_path %>
