<p id="notice"><%= notice %></p>

<h1>Telegram Message Report Reporters</h1>

<table>
  <thead>
    <tr>
      <th>Chat ID</th>
      <th>Username telegram</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telegram_message_report_reporters.each do |telegram_message_report_reporter| %>
      <tr>
        <td><%= telegram_message_report_reporter.chat_id %></td>
        <td><%= telegram_message_report_reporter.username_telegram %></td>
        <td><%= telegram_message_report_reporter.message %></td>
        <td><%= link_to 'Show', telegram_message_report_reporter %></td>
        <td><%= link_to 'Edit', edit_telegram_message_report_reporter_path(telegram_message_report_reporter) %></td>
        <td><%= link_to 'Destroy', telegram_message_report_reporter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telegram Message Report Reporter', new_telegram_message_report_reporter_path %>
