<p id="notice"><%= notice %></p>

<h1>Telegram Message Ili Reporters</h1>

<table>
  <thead>
    <tr>
      <th>Telegram username reporter</th>
      <th>Chat</th>
      <th>Username telegram</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telegram_message_ili_reporters.each do |telegram_message_ili_reporter| %>
      <tr>
        <td><%= telegram_message_ili_reporter.username_reporter.username_telegram %></td>
        <td><%= telegram_message_ili_reporter.chat_id %></td>
        <td><%= telegram_message_ili_reporter.username_telegram %></td>
        <td><%= telegram_message_ili_reporter.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

