<% content_for :search_form do %>
  <%= search_form_for @search, url: telegram_message_ili_reporters_path(@telegram_message_ili_reporters), class: "navbar-search navbar-search-dark form-inline mr-sm-3", id: "navbar-search-main" do |f| %>
      <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!-- <input class="form-control" placeholder="Search" type="text"> -->
              <%= f.search_field :message_cont, class: "form-control", placeholder: "Cari ...", autocomplete: "off" %>
          </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  <% end %>
<% end %>
<%= content_for :judul_page do %>
  Laporan Warga Bergejala Klinis
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to telegram_message_ili_reporters_path do %>
            <%= icon("fab", "telegram-plane") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan Warga Bergejala Klinis</li>
    </ol>
<% end %>
<% content_for :isi do %>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Laporan Warga Bergejala Klinis</h3>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table align-items-center table-flush table-striped">
        <thead class="thead-light">
          <tr>
            <th>Chat ID</th>
            <th>Username telegram</th>
            <th>Pesan</th>
            <th>Pewawancara Form 6</th>
            <th>Tanggal Wawancara</th>
          </tr>
        </thead>
        <tbody>
          <% @telegram_message_ili_reporters.each do |telegram_message_ili_reporter| %>
            <tr>
              <td><%= telegram_message_ili_reporter.chat_id %></td>
              <td><%= telegram_message_ili_reporter.username_telegram %></td>
              <td><%= telegram_message_ili_reporter.message %></td>
              <td>
                <%= telegram_message_ili_reporter.user.nil? ? "-" : telegram_message_ili_reporter.user.name %>
              </td>
              <td>
                <%= telegram_message_ili_reporter.ls_first.nil? ? "-" : telegram_message_ili_reporter.ls_first.interview_date.strftime("%d/%m/%Y") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>


