<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = main_dinkes_province_dinkes_region_public_health_center_phc_of_sds_path(@main_dinkes_province,@main_dinkes_region,@main_public_health_center)
  method = "post"
%>
<% else %>
<% url = main_dinkes_province_dinkes_region_public_health_center_phc_of_sd_path(@main_dinkes_province,@main_dinkes_region,@main_public_health_center)
  method = "patch"
%>
<% end %>
<%= form_for(main_phc_of_sd, url: url, :method => method) do |form| %>
  <% if main_phc_of_sd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_phc_of_sd.errors.count, "error") %> prohibited this main_phc_of_sd from being saved:</h2>

      <ul>
      <% main_phc_of_sd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
        <% districts = Main::District.where(main_city_id: @main_dinkes_region.city.id).pluck(:id)
        %>
      <% if (params[:action]=="new") || (params[:action]=="create") %>
        <%= form.collection_select(:main_sub_district_id,
          Main::SubDistrict.where(main_district_id: districts),
          :slug,
          :sub_district,
          {:prompt => false},
          {class: "form-control",
          required: true,
          "data-toggle": "select",
          "data-placeholder": "Kelurahan",
          "title": "Kelurahan/Desa",
          "data-live-search": "true",
          "data-live-search-placeholder": "Cari ..."}) %>
      <% else %>
        <%= form.collection_select(:main_sub_district_id,
          Main::SubDistrict.where(main_district_id: districts),
          :slug,
          :sub_district,
          {:prompt => false,
          selected: main_phc_of_sd.sub_district.slug},
          {class: "form-control",
          required: true,
          "data-toggle": "select",
          "data-placeholder": "Kelurahan",
          "title": "Kelurahan/Desa",
          "data-live-search": "true",
          "data-live-search-placeholder": "Cari ..."}) %>
      <% end %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
