<%= form_with(model: lampiran_eleven_close_contact, local: true) do |form| %>
  <% if lampiran_eleven_close_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_close_contact.errors.count, "error") %> prohibited this lampiran_eleven_close_contact from being saved:</h2>

      <ul>
      <% lampiran_eleven_close_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lampiran_eleven_information_expose_id %>
    <%= form.text_field :lampiran_eleven_information_expose_id %>
  </div>

  <div class="field">
    <%= form.label :start_travel_qn_1_id %>
    <%= form.text_field :start_travel_qn_1_id %>
  </div>

  <div class="field">
    <%= form.label :end_travel_qn_1_id %>
    <%= form.text_field :end_travel_qn_1_id %>
  </div>

  <div class="field">
    <%= form.label :start_travel_qn_2_id %>
    <%= form.text_field :start_travel_qn_2_id %>
  </div>

  <div class="field">
    <%= form.label :end_travel_qn_2_id %>
    <%= form.text_field :end_travel_qn_2_id %>
  </div>

  <div class="field">
    <%= form.label :main_job_type_id %>
    <%= form.text_field :main_job_type_id %>
  </div>

  <div class="field">
    <%= form.label :main_transportation_id %>
    <%= form.text_field :main_transportation_id %>
  </div>

  <div class="field">
    <%= form.label :question_number_1 %>
    <%= form.check_box :question_number_1 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_1 %>
    <%= form.date_select :date_question_number_1 %>
  </div>

  <div class="field">
    <%= form.label :question_number_2 %>
    <%= form.check_box :question_number_2 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_2 %>
    <%= form.date_select :date_question_number_2 %>
  </div>

  <div class="field">
    <%= form.label :question_number_3 %>
    <%= form.check_box :question_number_3 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_3 %>
    <%= form.date_select :date_question_number_3 %>
  </div>

  <div class="field">
    <%= form.label :other_job_type %>
    <%= form.text_field :other_job_type %>
  </div>

  <div class="field">
    <%= form.label :address_job %>
    <%= form.text_area :address_job %>
  </div>

  <div class="field">
    <%= form.label :other_transportation %>
    <%= form.text_field :other_transportation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
