<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_information_expose_close_contacts_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_information_expose_close_contact_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_close_contact, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_close_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_close_contact.errors.count, "error") %> prohibited this lampiran_eleven_close_contact from being saved:</h2>

      <ul>
      <% lampiran_eleven_close_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_travel_qn_2_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:start_travel_qn_2_id, Main::City.all, :slug, :city, {:prompt => 'Choose Contact Type'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:start_travel_qn_2_id, Main::City.all, :slug, :city, {:prompt => 'Choose Contact Type', selected: @lampiran_eleven_close_contact.start_travel_qn_2.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :end_travel_qn_2_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:end_travel_qn_2_id, Main::City.all, :slug, :city, {:prompt => 'Choose Contact Type'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:end_travel_qn_2_id, Main::City.all, :slug, :city, {:prompt => 'Choose Contact Type', selected: @lampiran_eleven_close_contact.end_travel_qn_2.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :main_job_type_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_job_type_id, Main::JobType.all, :slug, :job_type, {:prompt => 'Choose Contact Type'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:main_job_type_id, Main::JobType.all, :slug, :job_type, {:prompt => 'Choose Contact Type', selected: @lampiran_eleven_close_contact.job_type.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label :main_transportation_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_transportation_id, Main::Transportation.all, :slug, :transportation, {:prompt => 'Choose Contact Type'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:main_transportation_id, Main::Transportation.all, :slug, :transportation, {:prompt => 'Choose Contact Type', selected: @lampiran_eleven_close_contact.transportation.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :question_number_1 %>
    <%= form.check_box :question_number_1 %>
  </div>


  <div class="field">
    <%= form.label :answer_qn_1 %>
    <%= form.text_field :answer_qn_1 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_1 %>
    <%= form.date_select :date_question_number_1 %>
  </div>

  <div class="field">
    <%= form.label :question_number_2 %>
    <%= form.check_box :question_number_2 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_2 %>
    <%= form.date_select :date_question_number_2 %>
  </div>

  <div class="field">
    <%= form.label :question_number_3 %>
    <%= form.check_box :question_number_3 %>
  </div>

  <div class="field">
    <%= form.label :date_question_number_3 %>
    <%= form.date_select :date_question_number_3 %>
  </div>

  <div class="field">
    <%= form.label :other_job_type %>
    <%= form.text_field :other_job_type %>
  </div>

  <div class="field">
    <%= form.label :address_job %>
    <%= form.text_area :address_job %>
  </div>

  <div class="field">
    <%= form.label :other_transportation %>
    <%= form.text_field :other_transportation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
