<p id="notice"><%= notice %></p>

<p>
  <strong>Lampiran eleven information expose:</strong>
  <%= @lampiran_eleven_close_contact.lampiran_eleven_information_expose %>
</p>

<p>
  <strong>Start travel qn 1:</strong>
  <%= @lampiran_eleven_close_contact.start_travel_qn_1 %>
</p>

<p>
  <strong>End travel qn 1:</strong>
  <%= @lampiran_eleven_close_contact.end_travel_qn_1 %>
</p>

<p>
  <strong>Start travel qn 2:</strong>
  <%= @lampiran_eleven_close_contact.start_travel_qn_2 %>
</p>

<p>
  <strong>End travel qn 2:</strong>
  <%= @lampiran_eleven_close_contact.end_travel_qn_2 %>
</p>

<p>
  <strong>Main job type:</strong>
  <%= @lampiran_eleven_close_contact.main_job_type %>
</p>

<p>
  <strong>Main transportation:</strong>
  <%= @lampiran_eleven_close_contact.main_transportation %>
</p>

<p>
  <strong>Question number 1:</strong>
  <%= @lampiran_eleven_close_contact.question_number_1 %>
</p>

<p>
  <strong>Date question number 1:</strong>
  <%= @lampiran_eleven_close_contact.date_question_number_1 %>
</p>

<p>
  <strong>Question number 2:</strong>
  <%= @lampiran_eleven_close_contact.question_number_2 %>
</p>

<p>
  <strong>Date question number 2:</strong>
  <%= @lampiran_eleven_close_contact.date_question_number_2 %>
</p>

<p>
  <strong>Question number 3:</strong>
  <%= @lampiran_eleven_close_contact.question_number_3 %>
</p>

<p>
  <strong>Date question number 3:</strong>
  <%= @lampiran_eleven_close_contact.date_question_number_3 %>
</p>

<p>
  <strong>Other job type:</strong>
  <%= @lampiran_eleven_close_contact.other_job_type %>
</p>

<p>
  <strong>Address job:</strong>
  <%= @lampiran_eleven_close_contact.address_job %>
</p>

<p>
  <strong>Other transportation:</strong>
  <%= @lampiran_eleven_close_contact.other_transportation %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_information_expose_close_contact_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose,@lampiran_eleven_close_contact) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_information_expose_close_contacts_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose) %>
