<p id="notice"><%= notice %></p>

<h1>Telegram Username Reporters</h1>

<table>
  <thead>
    <tr>
      <th>Main city</th>
      <th>Main district</th>
      <th>Main sub district</th>
      <th>Main citizen association</th>
      <th>Main neighborhood association</th>
      <th>Username telegram</th>
      <th>Last activity at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telegram_username_reporters.each do |telegram_username_reporter| %>
      <tr>
        <td><%= telegram_username_reporter.main_city %></td>
        <td><%= telegram_username_reporter.main_district %></td>
        <td><%= telegram_username_reporter.main_sub_district %></td>
        <td><%= telegram_username_reporter.main_citizen_association %></td>
        <td><%= telegram_username_reporter.main_neighborhood_association %></td>
        <td><%= telegram_username_reporter.username_telegram %></td>
        <td><%= telegram_username_reporter.last_activity_at %></td>
        <td><%= link_to 'Show', telegram_username_reporter %></td>
        <td><%= link_to 'Edit', edit_telegram_username_reporter_path(telegram_username_reporter) %></td>
        <td><%= link_to 'Destroy', telegram_username_reporter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telegram Username Reporter', new_telegram_username_reporter_path %>
