<% content_for :search_form do %>
  <%= search_form_for @search, url: telegram_username_reporters_path, class: "navbar-search navbar-search-dark form-inline mr-sm-3", id: "navbar-search-main" do |f| %>
      <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!-- <input class="form-control" placeholder="Search" type="text"> -->
              <%= f.search_field :username_telegram_cont, class: "form-control", placeholder: "Cari ...", autocomplete: "off" %>
          </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  <% end %>
<% end %>
<% content_for :search_btn do  %>
  <li class="nav-item d-sm-none">
      <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
      <%= icon("fas", "search") %>
      </a>
  </li>
<% end %>
<%= content_for :judul_page do %>
  Username Telegram Pelapor (RT)
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to telegram_username_reporters_path do %>
            <%= icon("fab", "telegram-plane") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Username Telegram Pelapor (RT)</li>
    </ol>
<% end %>
<% content_for :header_button do%>
  <%= link_to 'New', new_telegram_username_reporter_path, 
  class: 'btn btn-sm btn-neutral', 
  data: {'toggle': 'modal', }, remote: true %>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Username Telegram Pelapor (RT)</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Username telegram</th>
              <th>Nama</th>
              <th>Aktifitas Terakhir</th>
              <th>Alamat</th>
              <th>No. Telp</th>
              <th>Kabupaten/Kota</th>
              <th>Kecamatan</th>
              <th>Kelurahan</th>
              <th>RW/RT</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @telegram_username_reporters.each do |telegram_username_reporter| %>
            <tr>
              <td><%= telegram_username_reporter.username_telegram %></td>
              <td><%= telegram_username_reporter.name %></td>
              <td><%= telegram_username_reporter.last_activity_at %></td>
              <td><%= telegram_username_reporter.address %></td>
              <td><%= telegram_username_reporter.phone_number %></td>
              <td><%= telegram_username_reporter.city.city %></td>
              <td><%= telegram_username_reporter.district.district %></td>
              <td><%= telegram_username_reporter.sub_district.sub_district %></td>
              <td><%= telegram_username_reporter.citizen_association.citizen_association %>/<%= telegram_username_reporter.neighborhood_association.neighborhood_association %></td>
              <td class="text-right">
                <%= link_to edit_telegram_username_reporter_path(telegram_username_reporter),
                  class: 'table-action', remote: true,
                  data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                  <% icon('fas', 'user-edit') %>
                <% end %>
                <%= link_to telegram_username_reporter, method: :delete, 
                  data: { 
                    confirm: 'Are you sure?', 
                    'toggle': 'tooltip', 
                    'original-title': 'Delete',
                    'bootstrap-confirm': 'delete' },
                  class: 'table-action' do %>
                  <% icon('fas', 'trash') %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <%= paginate @telegram_username_reporters %>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newUserReporter" tabindex="-1" role="dialog" aria-labelledby="newUserReporterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newUserReporterLabel">New Username Telegram Pelapor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewUserReporterForm"></div>  
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editUserReporter" tabindex="-1" role="dialog" aria-labelledby="editUserReporterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserReporterLabel">Edit Username Telegram Pelapor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditUserReporterForm"></div>        
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>