<p><%= @sub_district.sub_district %></p>
<p><%= @count_confirm %></p>
<p><%= @count_odp %></p>
<p><%= @count_pdp %></p>
<p><%= @count_otg %></p>
<p><%= @sick %></p>
<p><%= @covered %></p>
<p><%= @died %></p>
<p><%= @done %></p>