<% content_for :search_form do %>
  <%= search_form_for @search, url: main_province_cities_path(@main_province), class: "navbar-search navbar-search-dark form-inline mr-sm-3", id: "navbar-search-main" do |f| %>
      <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!-- <input class="form-control" placeholder="Search" type="text"> -->
              <%= f.search_field :city_cont, class: "form-control", placeholder: "Cari ...", autocomplete: "off" %>
          </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  <% end %>
<% end %>
<% content_for :judul_page do %>Index<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to main_provinces_path do %>
            <%= icon("fas", "layer-group") %>
          <% end %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to main_provinces_path do %>
            Provinsi
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Kabupaten/Kota</li>
    </ol>
<% end %>
<% content_for :header_button do%>
  <%= link_to 'Back',
    main_provinces_path,
    class: 'btn btn-sm btn-neutral'%>
  <% if policy('Main::City'.to_sym).new? %>
      <%= link_to 'New', new_main_province_city_path(@main_province), class: 'btn btn-sm btn-neutral',
      data: {'toggle': 'modal', }, remote: true %>
  <% end %>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Kabupaten/Kota Provinsi <%= @main_province.province %></h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Nama Kabupaten/Kota</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @main_cities.each do |main_city| %>
            <tr>
              <td><%= main_city.city %></td>
              <td class="text-right">
                <% if policy('Main::District'.to_sym).index? %>
                    <%= link_to main_province_city_districts_path(@main_province,main_city),
                        class: 'table-action',
                        data: {'toggle': 'tooltip', 'original-title': 'Add District'} do %>
                        <% icon('fas', 'plus') %>
                    <% end %>
                <% end %>
                <% if policy('Main::City'.to_sym).edit? || policy('Main::City'.to_sym).destroy? %>
                    <%= link_to edit_main_province_city_path(@main_province,main_city),
                      class: 'table-action', remote: true,
                      data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                      <% icon('far', 'edit') %>
                    <% end %>
                    <%= link_to main_province_city_path(@main_province,main_city), method: :delete,
                      data: {
                        confirm: 'Are you sure?',
                        'toggle': 'tooltip',
                        'original-title': 'Delete',
                      },
                      class: 'table-action' do %>
                      <% icon('fas', 'trash') %>
                    <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <%= paginate @main_cities %>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newCity" tabindex="-1" role="dialog" aria-labelledby="newCityLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newCityLabel">New City</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewCityForm"></div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editCity" tabindex="-1" role="dialog" aria-labelledby="editCityLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editCityLabel">Edit Kabupaten/Kota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditCityForm"></div>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
