<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @main_city.city.city %>
</p>

<p>
  <strong>Main province:</strong>
  <%= @main_city.province %>
</p>

<%= link_to 'Edit', main_province_city_path(@main_province,@main_city) %> |
<%= link_to 'Back', main_province_cities_path(@main_province) %>
