<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = main_patient_contact_lists_path(@main_patient,l_contact_list_contact_list)
  method = "post"
%>
<% else %>
<% url = main_patient_edit_contact_list_path(@main_patient,l_contact_list_contact_list)
  method = "patch"
%>
<% end %>
<%= form_for(l_contact_list_contact_list, url: url, :method => method) do |form| %>
  <% if l_contact_list_contact_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_contact_list_contact_list.errors.count, "error") %> prohibited this l_contact_list_contact_list from being saved:</h2>

      <ul>
      <% l_contact_list_contact_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-body">
    <div class="form-group">
      <%= form.label :date_contact,
        "Tanggal Pembuatan",
        class: "form-control-label" %>
      <%= form.text_field :date_contact,
        class: "form-control datepicker" %>
    </div>
  </div>
  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
