<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_info_exposes_officers_path(@lampiran_eleven_close_contact_information)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_info_exposes_officer_path(@lampiran_eleven_close_contact_information)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_info_exposes_officer, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_info_exposes_officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_info_exposes_officer.errors.count, "error") %> prohibited this lampiran_eleven_info_exposes_officer from being saved:</h2>

      <ul>
      <% lampiran_eleven_info_exposes_officer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">

      <div class="form-group">
        <%= form.label :main_job_position_id,
          "Posisi Pekerjaan",
          class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_job_position_id,
            Main::JobPosition.all,
            :slug,
            :job_position,
            {:prompt => "Pilih"},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% else %>
          <%= form.collection_select(:main_job_position_id,
            Main::JobPosition.all,
            :slug,
            :job_position,
            {:prompt => "Pilih",
            selected: lampiran_eleven_info_exposes_officer.job_position.nil? ? "" : lampiran_eleven_info_exposes_officer.job_position.slug},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% end %>
      </div>

      <div class="form-group">
        <label for="" class="form-control-label">Tempat Bekerja (Pilih Salah Satu)</label><br>
        
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="custom-control custom-radio mb-2">
              <input 
                <%= lampiran_eleven_info_exposes_officer.dinkes_province.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_prov" name="radio-kerja">
              <label for="radio_prov" class="custom-control-label">Dinas Kesehatan Provinsi</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") %>
              <%= form.collection_select(:main_dinkes_province_id,
                Main::DinkesProvince.all,
                :slug,
                :dinkes_province,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_prov"}) %>
            <% else %>
              <%= form.collection_select(:main_dinkes_province_id,
                Main::DinkesProvince.all,
                :slug,
                :dinkes_province,
                {:prompt => "Pilih",
                selected: lampiran_eleven_info_exposes_officer.dinkes_province.nil? ? "" : lampiran_eleven_info_exposes_officer.dinkes_province.slug},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_prov"}) %>
            <% end %>
          </div>
          <div class="col-md-3 mb-3">
            <div class="custom-control custom-radio mb-2">
              <input 
                <%= lampiran_eleven_info_exposes_officer.dinkes_region.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_kota" name="radio-kerja">
              <label for="radio_kota" class="custom-control-label">Dinas Kesehatan Kabupaten/Kota</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") %>
              <%= form.collection_select(:main_dinkes_region_id,
                Main::DinkesRegion.all,
                :slug,
                :dinkes_region,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_kota"}) %>
            <% else %>
              <%= form.collection_select(:main_dinkes_region_id,
                Main::DinkesRegion.all,
                :slug,
                :dinkes_region,
                {:prompt => "Pilih",
                selected: lampiran_eleven_info_exposes_officer.dinkes_region.nil? ? "" : lampiran_eleven_info_exposes_officer.dinkes_region.slug},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_kota"}) %>
            <% end %>
          </div>
          <div class="col-md-3 mb-3">
            <div class="custom-control custom-radio mb-2">
              <input 
                <%= lampiran_eleven_info_exposes_officer.hospital.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_rs" name="radio-kerja">
              <label for="radio_rs" class="custom-control-label">Rumah Sakit</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") %>
              <%= form.collection_select(:main_hospital_id,
                Main::Hospital.all,
                :slug,
                :hospital,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_rs"}) %>
            <% else %>
              <%= form.collection_select(:main_hospital_id,
                Main::Hospital.all,
                :slug,
                :hospital,
                {:prompt => "Pilih",
                selected: lampiran_eleven_info_exposes_officer.hospital.nil? ? "" : lampiran_eleven_info_exposes_officer.hospital.slug},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_rs"}) %>
            <% end %>
          </div>
          <div class="col-md-3 mb-3">
            <div class="custom-control custom-radio mb-2">
              <input 
                <%= lampiran_eleven_info_exposes_officer.public_health_center.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_puskes" name="radio-kerja">
              <label for="radio_puskes" class="custom-control-label">Puskesmas</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") %>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.all,
                :slug,
                :public_health_center,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_puskes"}) %>
            <% else %>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.all,
                :slug,
                :public_health_center,
                {:prompt => "Pilih",
                selected: lampiran_eleven_info_exposes_officer.public_health_center.nil? ? "" : lampiran_eleven_info_exposes_officer.public_health_center.slug},
                {class: "form-control lokasi-kerja",
                "data-toggle": "select",
                "data-selected": "radio_puskes"}) %>
            <% end %>
          </div>
        </div>
      </div>

      
    </div>
  </div>
  <hr class="mb-3 mt-0">
  <div class="form-group mb-1">
    <div class="custom-control custom-checkbox">
      <%= form.check_box :is_contact_physic_with_positive, class:"custom-control-input" %>
      <%= form.label :is_contact_physic_with_positive,
        "Kontak fisik dengan kasus konfirmasi ?",
        class: "custom-control-label" %>
    </div>
  </div>
  <label for="" class="form-control-label">Alat Pelindung Diri Yang Dipakai : </label><br>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_gown_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_gown_self,
            "Gown",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_medic_mask_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_medic_mask_self,
            "Masker Medis",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_gloves_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_gloves_self,
            "Sarung Tangan",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_n95_ffp2_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_n95_ffp2_self,
            "Masker N95 FFP2",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_n99_ffp3_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_n99_ffp3_self,
            "Masker N99 FFP3",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_goggle_self, class:"confirm-case custom-control-input" %>
          <%= form.label :is_goggle_self,
            "Kacamata Pelindung (Google)",
            class: "custom-control-label" %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :isn_apd_self, class:"confirm-case custom-control-input" %>
          <%= form.label :isn_apd_self,
            "Tidak Memakai APD",
            class: "custom-control-label" %>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-3">
  <div class="form-group mb-1">
    <div class="custom-control custom-checkbox">
      <%= form.check_box :is_procedure_aerosol, class:"custom-control-input" %>
      <%= form.label :is_procedure_aerosol,
        "Apakah melakukan prosedur yang menimbulkan aerosol ?",
        class: "custom-control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="" class="form-control-label">APD yang dipakai untuk melakukan prosedur tersebut : </label><br>
        <div class="row">
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_gown_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_gown_aerosol,
                "Gown",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_medic_mask_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_medic_mask_aerosol,
                "Masker Medis",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_gloves_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_gloves_aerosol,
                "Sarung Tangan",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_n95_ffp2_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_n95_ffp2_aerosol,
                "Masker N95 FFP2",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_n99_ffp3_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_n99_ffp3_aerosol,
                "Masker N99 FFP3",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :is_goggle_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :is_goggle_aerosol,
                "Kacamata Pelindung (Google)",
                class: "custom-control-label" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-checkbox">
              <%= form.check_box :isn_apd_aerosol, class:"confirm-aerosol custom-control-input" %>
              <%= form.label :isn_apd_aerosol,
                "Tidak Memakai APD",
                class: "custom-control-label" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :explain_of_procedure_aerosol,
          "Sebutkan",
          class: "form-control-label" %>
        <%= form.text_area :explain_of_procedure_aerosol, class:"form-control", rows: 3 %>
      </div>
    </div>
  </div>

  
  <%= form.submit 'Save', class: 'btn btn-primary' %>

<% end %>
