<%= content_for :judul_page do %>
    Informasi Paparan (Petugas Kesehatan)
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to @lampiran_eleven_close_contact_information do %>
            <%= icon("fas", "file-alt") %>
          <% end %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'Form 11', @lampiran_eleven_close_contact_information %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">5</li>
    </ol>
<% end %>
<% content_for :header_button do%>
    <%= link_to 'Back', 
        @lampiran_eleven_close_contact_information, 
        class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">5. Informasi Paparan (Petugas Kesehatan) Edit</h3>
            </div>
            <div class="card-body">
                <%= render 'form', lampiran_eleven_info_exposes_officer: @lampiran_eleven_info_exposes_officer %>
            </div>
        </div>
    </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>