<p id="notice"><%= notice %></p>
<p>
  <strong>Main dinkes province:</strong>
  <%= @lampiran_eleven_info_exposes_officer.dinkes_province %>
</p>

<p>
  <strong>Main dinkes region:</strong>
  <%= @lampiran_eleven_info_exposes_officer.dinkes_region %>
</p>

<p>
  <strong>Main hospital:</strong>
  <%= @lampiran_eleven_info_exposes_officer.hospital %>
</p>

<p>
  <strong>Main public health center:</strong>
  <%= @lampiran_eleven_info_exposes_officer.public_health_center %>
</p>

<p>
  <strong>Is contact physic with positive:</strong>
  <%= @lampiran_eleven_info_exposes_officer.is_contact_physic_with_positive %>
</p>

<p>
  <strong>Is procedure aerosol:</strong>
  <%= @lampiran_eleven_info_exposes_officer.is_procedure_aerosol %>
</p>

<p>
  <strong>Explain of procedure aerosol:</strong>
  <%= @lampiran_eleven_info_exposes_officer.explain_of_procedure_aerosol %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_info_exposes_officer_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officers_path(@lampiran_eleven_close_contact_information) %>
