<p id="notice"><%= notice %></p>

<h1>Main Hospitals</h1>

<table>
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Is primary</th>
      <th>Main dinkes region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_dinkes_region.main_hospitals.each do |main_hospital| %>
      <tr>
        <td><%= main_hospital.hospital %></td>
        <td><%= main_hospital.is_primary %></td>
        <td><%= main_hospital.dinkes_region.dinkes_region %></td>
        <td><%= link_to 'Edit', edit_main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region,main_hospital) %></td>
        <td><%= link_to 'Destroy', main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region,main_hospital), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Public Health Center', main_dinkes_province_dinkes_region_hospital_public_health_centers_path(@main_dinkes_province,@main_dinkes_region,main_hospital) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Hospital', new_main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region) %>
