<% content_for :header_button do%>
  <%= link_to 'New', new_main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region), 
  class: 'btn btn-sm btn-neutral', 
  data: {'toggle': 'modal', }, remote: true %>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Rumah Sakit</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Nama Rumah Sakit</th>
              <th>Rumah Sakit Utama</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @main_dinkes_region.hospitals.each do |main_hospital| %>
            <tr>
              <td><%= main_hospital.hospital %></td>
              <td><%= main_hospital.is_primary == true ? 'Ya' : 'Tidak' %></td>
              <td class="text-right">
                <%= link_to edit_main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region,main_hospital),
                  class: 'table-action', remote: true,
                  data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                  <% icon('far', 'edit') %>
                <% end %>
                <%= link_to main_dinkes_province_dinkes_region_hospital_path(@main_dinkes_province,@main_dinkes_region,main_hospital), method: :delete, 
                  data: { 
                    confirm: 'Are you sure?', 
                    'toggle': 'tooltip', 
                    'original-title': 'Delete',
                    'bootstrap-confirm': 'delete' },
                  class: 'table-action' do %>
                  <% icon('fas', 'trash') %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newHospital" tabindex="-1" role="dialog" aria-labelledby="newHospitalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newHospitalLabel">New Rumah Sakit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewHospitalForm"></div>  
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editHospital" tabindex="-1" role="dialog" aria-labelledby="editHospitalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editHospitalLabel">Edit Rumah Sakit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditHospitalForm"></div>        
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>