<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @main_hospital.hospital %>
</p>

<p>
  <strong>Is primary:</strong>
  <%= @main_hospital.is_primary %>
</p>

<p>
  <strong>Main dinkes region:</strong>
  <%= @main_hospital.main_dinkes_region %>
</p>

<%= link_to 'Edit', edit_main_hospital_path(@main_hospital) %> |
<%= link_to 'Back', main_hospitals_path %>
