<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = main_patient_contact_patients_path(@l_contact_list_contact_list)
  method = "post"
%>
<% else %>
<% url = main_patient_edit_contact_patient_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose)
  method = "patch"
%>
<% end %>
<%= form_for(l_contact_list_contact_patient, url: url, :method => method) do |form| %>
  <% if l_contact_list_contact_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_contact_list_contact_patient.errors.count, "error") %> prohibited this l_contact_list_contact_patient from being saved:</h2>

      <ul>
      <% l_contact_list_contact_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.label :main_patient_child_id,
        "Pilih Kontak",
        class: "form-control-label" %>
      <%= form.collection_select(:main_patient_child_id,
        [],
        '',
        '',
        {:prompt => "Pilih"},
        {class: "form-control main-patient",
        "data-toggle": "select"}) %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
