<p id="notice"><%= notice %></p>

<h1>L Contact List Contact Patients</h1>

<table>
  <thead>
    <tr>
      <th>Main patient</th>
      <th>Main patient child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @l_contact_list_contact_patients.each do |l_contact_list_contact_patient| %>
      <tr>
        <td><%= l_contact_list_contact_patient.main_patient %></td>
        <td><%= l_contact_list_contact_patient.main_patient_child %></td>
        <td><%= link_to 'Show', l_contact_list_contact_patient %></td>
        <td><%= link_to 'Edit', edit_l_contact_list_contact_patient_path(l_contact_list_contact_patient) %></td>
        <td><%= link_to 'Destroy', l_contact_list_contact_patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New L Contact List Contact Patient', new_l_contact_list_contact_patient_path %>
