<%= form_with(model: main_patient, local: true) do |form| %>
  <% if main_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_patient.errors.count, "error") %> prohibited this main_patient from being saved:</h2>

      <ul>
      <% main_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="row">
      <div class="col-xl-4">
        <div class="form-group">
          <label for="main_patient_no_identity" class="form-control-label">No. KTP</label>
          <%= form.text_field :no_identity, class: 'form-control', placeholder: 'No. KTP' %>
        </div>

        <div class="form-group">
          <label for="main_patient_name" class="form-control-label">Nama Lengkap</label>
          <%= form.text_field :name, class: 'form-control', placeholder: 'Nama Lengkap' %>
        </div>

        <div class="form-group">
          <label for="main_patient_date_of_birth" class="form-control-label">Tanggal Lahir</label>
          <%= form.text_field :date_of_birth, class: 'form-control datepicker' %>
        </div>

        <div class="form-group">
          <label for="main_patient_address" class="form-control-label">Alamat KTP</label>
          <%= form.text_area :address, class: 'form-control', rows: 2 %>
        </div>

        <div class="form-group">
          <label for="main_patient_address" class="form-control-label">Alamat Domisili</label>
          <%= form.text_area :residence_address, class: 'form-control', rows: 2 %>
        </div>
      </div>
      <div class="col-xl-4">

        <div class="form-group">
          <% province = Main::Province.where('province = ?', "Kalimantan Selatan").first %>
          <label for="main_patient_main_city_id" class="form-control-label">Kabupaten/Kota</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_city_id,
              Main::City.where('main_province_id = ?',province.id),
              :slug,
              :city,
              {:prompt => 'Choose Kota'},
              {class: "form-control kabupaten_kota",
              required: true,
              "data-toggle": "select",
              "title": "Kota/Kab",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kabupaten/Kota"}) %>
          <% else %>
            <%= form.collection_select(:main_city_id,
              Main::City.where('main_province_id = ?',province.id),
              :slug,
              :city,
              {:prompt => 'Choose Kota',
              selected: @main_patient.city.slug},
              {class: "form-control kabupaten_kota",
              required: true,
              "data-toggle": "select",
              "title": "Kota/Kab",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kabupaten/Kota"}) %>
          <% end %>
        </div>

        <% city = Main::City.where('main_province_id = ?',province.id).pluck(:id) %>
        <% district = Main::District.where(main_city_id: city).pluck(:id) %>
        <% sub_district = Main::SubDistrict.where(main_district_id: district).pluck(:id) %>
        <% citizen_association = Main::CitizenAssociation.where(main_sub_ditrict_id: sub_district).pluck(:id) %>
        <% neighborhood_association = Main::NeighborhoodAssociation.where(main_citizen_association_id: citizen_association).pluck(:id) %>
        <div class="form-group">
          <label for="main_patient_main_district_id" class="form-control-label">Kecamatan</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_district_id,
              [],
              '',
              '',
              {:prompt => false},
              {class: "form-control kecamatan",
              required: true,
              "data-toggle": "select",
              "title": "Kecamatan",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kecamatan"}) %>
          <% else %>
            <%= form.collection_select(:main_district_id,
              Main::District.where(main_city_id: city),
              :slug,
              :district,
              {:prompt => 'Choose Kecamatan',
              selected: @main_patient.district.slug},
              {class: "form-control kecamatan",
              required: true,
              "data-toggle": "select",
              "title": "Kecamatan",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kecamatan"}) %>
          <% end %>
        </div>

        <div class="form-group">
          <label for="main_patient_main_sub_district_id" class="form-control-label">Kelurahan</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_sub_district_id,
              [],
              '',
              '',
              {:prompt => false},
              {class: "form-control kelurahan",
              required: true,
              "data-toggle": "select",
              "title": "Kelurahan/Desa",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kelurahan"}) %>
          <% else %>
            <%= form.collection_select(:main_sub_district_id,
              Main::SubDistrict.where(main_district_id: district),
              :slug,
              :sub_district,
              {:prompt => 'Choose Kelurahan/Desa',
              selected: @main_patient.sub_district.slug},
              {class: "form-control kelurahan",
              required: true,
              "data-toggle": "select",
              "title": "Kelurahan/Desa",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Kelurahan"}) %>
          <% end %>
        </div>

        <div class="form-group">
          <label for="main_patient_main_citizen_association_id" class="form-control-label">RW</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_citizen_association_id,
              [],
              '',
              '',
              {:prompt => false},
              {class: "form-control erwe",
              required: true,
              "data-toggle": "select",
              "title": "RW",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "RW"}) %>
          <% else %>
            <%= form.collection_select(:main_citizen_association_id,
              Main::CitizenAssociation.where(main_sub_ditrict_id: sub_district),
              :slug,
              :citizen_association,
              {:prompt => 'Choose RW',
              selected: @main_patient.citizen_association.slug},
              {class: "form-control erwe",
              required: true,
              "data-toggle": "select",
              "title": "RW",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "RW"}) %>
          <% end %>
        </div>

        <div class="form-group">
          <label for="main_patient_main_neighborhood_association_id" class="form-control-label">RT</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_neighborhood_association_id,
              [],
              '',
              '',
              {:prompt => false},
              {class: "form-control erte",
              required: true,
              "data-toggle": "select",
              "title": "RT",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "RT"}) %>
          <% else %>
            <%= form.collection_select(:main_neighborhood_association_id,
              Main::NeighborhoodAssociation.where(main_citizen_association_id: citizen_association),
              :slug,
              :neighborhood_association,
              {:prompt => false,
              selected: @main_patient.neighborhood_association.slug},
              {class: "form-control erte",
              required: true,
              "data-toggle": "select",
              "title": "RT",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "RT"}) %>
          <% end %>
        </div>

      </div>
      <div class="col-xl-4">


        <div class="form-group">
          <label for="main_patient_main_marital_status_id" class="form-control-label">Status Pernikahan</label>
          <% if (params[:action]=="new") || (params[:action]=="create") %>
            <%= form.collection_select(:main_marital_status_id,
              Main::MaritalStatus.all,
              :slug,
              :marital_status,
              {:prompt => 'Choose Marital Status'},
              {class: "form-control",
              required: true,
              "data-toggle": "select",
              "title": "Example (Belum Menikah)",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Status Pernikahan"}) %>
          <% else %>
            <%= form.collection_select(:main_marital_status_id,
              Main::MaritalStatus.all,
              :slug,
              :marital_status,
              {:prompt => 'Choose Marital Status',
              selected: @main_patient.marital_status.slug},
              {class: "form-control",
              required: true,
              "data-toggle": "select",
              "title": "Example (Belum Menikah)",
              "data-live-search": "true",
              "data-live-search-placeholder": "Cari ...",
              "data-placeholder": "Status Pernikahan"}) %>
          <% end %>
        </div>

        <div class="form-group">
          <label for="main_patient_name_of_parent" class="form-control-label">Nama Orang Tua</label>
          <%= form.text_field :name_of_parent, class: 'form-control' %>
        </div>

        <div class="form-group">
          <label for="main_patient_phone_number" class="form-control-label">Nomor Telepon</label>
          <%= form.text_field :phone_number, class: 'form-control' %>
        </div>

        <div class="form-group">
          <label for="main_patient_gender" class="form-control-label">Jenis Kelamin</label><br>
          <% if (params[:action]=="new") || (params[:action]=="create") %>

            <div class="custom-control custom-radio custom-control-inline">
              <%= form.radio_button(:gender, "male", {class: 'custom-control-input'}) %>
              <label for="main_patient_gender_male" class="custom-control-label">Laki-laki</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <%= form.radio_button(:gender, "female", {class: 'custom-control-input'}) %>
              <label for="main_patient_gender_female" class="custom-control-label">Perempuan</label>
            </div>

          <% else %>
            <div class="custom-control custom-radio custom-control-inline">
              <%= form.radio_button(:gender, "male", {checked: @main_patient.gender == 'Male' ? true : false, class: 'custom-control-input'}) %>
              <label for="main_patient_gender_male" class="custom-control-label">Laki-laki</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <%= form.radio_button(:gender, "female", {checked: @main_patient.gender == 'Female' ? true : false, class: 'custom-control-input'}) %>
              <label for="main_patient_gender_female" class="custom-control-label">Perempuan</label>
            </div>
          <% end %>
        </div>
      </div>


    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
