

<% content_for :header_button do%>
    <% if policy('Main::Patient'.to_sym).new? %>
      <%= link_to 'New', new_main_patient_path,
      class: 'btn btn-sm btn-neutral',
      data: {'toggle': 'modal', }, remote: true %>
    <% end %>
    <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#filterPatient">
      Filter
    </button>
<% end %>

<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Pasien</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>No. KTP</th>
              <th>Nama Lengkap</th>
              <th>Tanggal Lahir</th>
              <th>Alamat</th>
              <th>Kabupaten/Kota</th>
              <th>Kecamatan</th>
              <th>Kelurahan</th>
              <th>RW</th>
              <th>RT</th>
              <th>Status Pernikahan</th>
              <th>Nama Orang Tua</th>
              <th>Nomor Telepon</th>
              <th>Jenis Kelamin</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @main_patients.each do |main_patient| %>
            <tr>
              <td><%= main_patient.no_identity %></td>
              <td><%= main_patient.name %></td>
              <td><%= main_patient.date_of_birth %></td>
              <td><%= main_patient.address %></td>
              <td><%= main_patient.city.city %></td>
              <td><%= main_patient.district.district %></td>
              <td><%= main_patient.sub_district.sub_district %></td>
              <td><%= main_patient.citizen_association.citizen_association %></td>
              <td><%= main_patient.neighborhood_association.neighborhood_association %></td>
              <td><%= main_patient.marital_status.marital_status %></td>
              <td><%= main_patient.name_of_parent %></td>
              <td><%= main_patient.phone_number %></td>
              <td><%= main_patient.gender == 'Male' ? 'Laki-laki' : 'Perempuan' %></td>
              <td class="text-right">
                <% if policy('Main::Patient'.to_sym).edit? %>
                    <%= link_to edit_main_patient_path(main_patient),
                      class: 'table-action', remote: true,
                      data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                      <% icon('far', 'edit') %>
                    <% end %>
                <% end %>
                <% if policy('Main::Patient'.to_sym).destroy? %>
                    <%= link_to main_patient, method: :delete,
                      data: {
                        confirm: 'Are you sure?',
                        'toggle': 'tooltip',
                        'original-title': 'Delete',
                        'bootstrap-confirm': 'delete' },
                      class: 'table-action' do %>
                      <% icon('fas', 'trash') %>
                    <% end %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <%= paginate @main_patients %>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newPatient" tabindex="-1" role="dialog" aria-labelledby="newPatientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newPatientLabel">New Pasien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewPatientForm"></div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editPatient" tabindex="-1" role="dialog" aria-labelledby="editPatientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPatientLabel">Edit Pasien</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditPatientForm"></div>
      </div>
    </div>
  </div>

  <%= form_tag( url: main_patients_path) do |form| %>
      <div class="modal fade modal-new" id="filterPatient" tabindex="-1" role="dialog" aria-labelledby="filterPatientLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filterPatientLabel">Filter Pasien</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-xl-4">
                    <div class="form-group">
                      <label for="main_patient_no_identity" class="form-control-label">No. KTP</label>
                      <%= text_field_tag :no_identity, nil, class: 'form-control', placeholder: 'No. KTP' %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_name" class="form-control-label">Nama Lengkap</label>
                      <%= text_field_tag :name, nil, class: 'form-control', placeholder: 'Nama Lengkap' %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_date_of_birth" class="form-control-label">Tanggal Lahir</label>
                      <%= text_field_tag :date_of_birth, nil, class: 'form-control datepicker' %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_address" class="form-control-label">Alamat</label>
                      <%= text_area_tag :address, nil, class: 'form-control', rows: 3, autocomplete: "off" %>
                    </div>
                  </div>
                  <div class="col-xl-4">

                    <div class="form-group">
                      <label for="main_patient_main_city_id" class="form-control-label">Kabupaten/Kota</label>
                      <% if (params[:main_city_id].nil?) %>
                        <%= select_tag :main_city_id,
                          options_from_collection_for_select(
                          Main::City.all,
                          :slug,
                          :city),
                          :prompt => 'Pilih',
                          class: "form-control kabupaten_kota",
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_city_id,
                          options_from_collection_for_select(
                          Main::City.all,
                          :slug,
                          :city,
                          @main_city.slug),
                          :prompt => 'Choose Kota',
                          class: "form-control kabupaten_kota" %>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_main_district_id" class="form-control-label">Kecamatan</label>
                      <% if (params[:main_district_id].nil?) %>
                        <%= select_tag :main_district_id,
                          options_from_collection_for_select(
                          [],
                          '',
                          ''),
                          :prompt => 'Pilih',
                          class: "form-control kecamatan",
                          required: true,
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_district_id,
                          options_from_collection_for_select(
                          Main::District.all,
                          :slug,
                          :district,
                          @main_district.slug),
                          :prompt => 'Pilih',
                          class: "form-control kecamatan",
                          required: true,
                          "data-toggle": "select" %>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_main_sub_district_id" class="form-control-label">Kelurahan</label>
                      <% if (params[:main_sub_district_id].nil?) %>
                        <%= select_tag :main_sub_district_id,
                          options_from_collection_for_select(
                          [],
                          '',
                          ''),
                          :prompt => "Pilih",
                          class: "form-control kelurahan",
                          required: true,
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_sub_district_id,
                          options_from_collection_for_select(
                          Main::SubDistrict.all,
                          :slug,
                          :sub_district,
                           @main_sub_district.slug),
                          :prompt => 'Pilih',
                          class: "form-control kelurahan",
                          required: true,
                          "data-toggle": "select" %>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_main_citizen_association_id" class="form-control-label">RW</label>
                      <% if (params[:main_citizen_association_id].nil?) %>
                        <%= select_tag :main_citizen_association_id,
                          options_from_collection_for_select(
                          [],
                          '',
                          ''),
                          :prompt => "Pilih",
                          class: "form-control erwe",
                          required: true,
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_citizen_association_id,
                          options_from_collection_for_select(
                          Main::CitizenAssociation.all,
                          :slug,
                          :citizen_association,
                          @main_citizen_association.slug),
                          :prompt => 'Pilih',
                          class: "form-control erwe",
                          required: true,
                          "data-toggle": "select" %>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_main_neighborhood_association_id" class="form-control-label">RT</label>
                      <% if (params[:main_neighborhood_association_id].nil?) %>
                        <%= select_tag :main_neighborhood_association_id,
                          options_from_collection_for_select(
                          [],
                          '',
                          ''),
                          :prompt => "Pilih",
                          class: "form-control erte",
                          required: true,
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_neighborhood_association_id,
                          options_from_collection_for_select(
                          Main::NeighborhoodAssociation.all,
                          :slug,
                          :neighborhood_association,
                          @main_neighborhood_association.slug),
                          :prompt => "Pilih",
                          class: "form-control erte",
                          required: true,
                          "data-toggle": "select" %>
                      <% end %>
                    </div>

                  </div>
                  <div class="col-xl-4">


                    <div class="form-group">
                      <label for="main_patient_main_marital_status_id" class="form-control-label">Status Pernikahan</label>
                      <% if (params[:main_marital_status_id].nil?) %>
                        <%= select_tag :main_marital_status_id,
                          options_from_collection_for_select(
                          Main::MaritalStatus.all,
                          :slug,
                          :marital_status),
                          :prompt => 'Pilih',
                          class: "form-control",
                          required: true,
                          "data-toggle": "select" %>
                      <% else %>
                        <%= select_tag :main_marital_status_id,
                          options_from_collection_for_select(
                          Main::MaritalStatus.all,
                          :slug,
                          :marital_status,
                          @main_marital_status.slug),
                          :prompt => 'Pilih',
                          class: "form-control",
                          required: true,
                          "data-toggle": "select" %>
                      <% end %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_name_of_parent" class="form-control-label">Nama Orang Tua</label>
                      <%= text_field_tag :name_of_parent, nil, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_phone_number" class="form-control-label">Nomor Telepon</label>
                      <%= text_field_tag :phone_number, nil, class: 'form-control' %>
                    </div>

                    <div class="form-group">
                      <label for="main_patient_gender" class="form-control-label">Jenis Kelamin</label><br>
                      <% if (params[:gender].nil?) %>

                        <div class="custom-control custom-radio custom-control-inline">
                          <%= radio_button_tag(:gender, "male", false, class: 'custom-control-input') %>
                          <label for="gender_male" class="custom-control-label">Laki-laki</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <%= radio_button_tag(:gender, "female", false , class: 'custom-control-input') %>
                          <label for="gender_female" class="custom-control-label">Perempuan</label>
                        </div>

                      <% else %>
                        <div class="custom-control custom-radio custom-control-inline">
                          <%= radio_button_tag(:gender, "male", {checked: @gender == 'Male' ? true : false, class: 'custom-control-input'}) %>
                          <label for="gender_male" class="custom-control-label">Laki-laki</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <%= radio_button_tag(:gender, "female", {checked: @gender == 'Female' ? true : false, class: 'custom-control-input'}) %>
                          <label for="gender_female" class="custom-control-label">Perempuan</label>
                        </div>
                      <% end %>
                    </div>
                  </div>


                </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag 'Save', class: 'btn btn-primary' %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
