<p id="notice"><%= notice %></p>

<p>
  <strong>Main tribe:</strong>
  <%= @main_patient.main_tribe %>
</p>

<p>
  <strong>Main city:</strong>
  <%= @main_patient.main_city %>
</p>

<p>
  <strong>Main district:</strong>
  <%= @main_patient.main_district %>
</p>

<p>
  <strong>Main sub district:</strong>
  <%= @main_patient.main_sub_district %>
</p>

<p>
  <strong>Main citizen association:</strong>
  <%= @main_patient.main_citizen_association %>
</p>

<p>
  <strong>Main neighborhood association:</strong>
  <%= @main_patient.main_neighborhood_association %>
</p>

<p>
  <strong>Main marital status:</strong>
  <%= @main_patient.main_marital_status %>
</p>

<p>
  <strong>No identity:</strong>
  <%= @main_patient.no_identity %>
</p>

<p>
  <strong>Name of parent:</strong>
  <%= @main_patient.name_of_parent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @main_patient.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @main_patient.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @main_patient.phone_number %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @main_patient.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @main_patient.gender %>
</p>

<%= link_to 'Edit', edit_main_patient_path(@main_patient) %> |
<%= link_to 'Back', main_patients_path %>
