
<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = l_six_first_second_thirds_path(@l_six_first,@l_six_second)
  method = "post"
%>
<% else %>
<% url = l_six_first_second_third_path(@l_six_first,@l_six_second)
  method = "patch"
%>
<% end %>
<%= form_for(l_six_third, url: url, :method => method) do |form| %>
  <% if l_six_third.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_third.errors.count, "error") %> prohibited this l_six_third from being saved:</h2>

      <ul>
      <% l_six_third.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <label for="" class="form-control-label">
            Nasopharyngeal (NP) Swab
          </label>
          <hr class="my-1">
          <div class="form-group">
            <%= form.label :date_nasopharyngeal,
              "Tanggal Pengambilan Spesimen",
              class: "form-control-label" %>
            <%= form.text_field :date_nasopharyngeal,
              class: "form-control datepicker", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= form.label :place_nasopharyngeal,
              "Tempat Pemeriksaan",
              class: "form-control-label" %>
            <%= form.text_field :place_nasopharyngeal,
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :result_nasopharyngeal,
              "Hasil",
              class: "form-control-label" %>
            <%= form.text_area :result_nasopharyngeal,
              class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="form-control-label">
            Oroharyngeal (NP) Swab
          </label>
          <hr class="my-1">
          <div class="form-group">
            <%= form.label :date_oropharyngeal,
              "Tanggal Pengambilan Spesimen",
              class: "form-control-label" %>
            <%= form.text_field :date_oropharyngeal,
              class: "form-control datepicker", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= form.label :place_oropharyngeal,
              "Tempat Pemeriksaan",
              class: "form-control-label" %>
            <%= form.text_field :place_oropharyngeal,
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :result_oropharyngeal,
              "Hasil",
              class: "form-control-label" %>
            <%= form.text_area :result_oropharyngeal,
              class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <label for="" class="form-control-label">
            Sputum
          </label>
          <hr class="my-1">
          <div class="form-group">
            <%= form.label :date_sputum,
              "Tanggal Pengambilan Spesimen",
              class: "form-control-label" %>
            <%= form.text_field :date_sputum,
              class: "form-control datepicker", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= form.label :place_sputum,
              "Tempat Pemeriksaan",
              class: "form-control-label" %>
            <%= form.text_field :place_sputum,
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :result_sputum,
              "Hasil",
              class: "form-control-label" %>
            <%= form.text_area :result_sputum,
              class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <label for="" class="form-control-label">
            Serum
          </label>
          <hr class="my-1">
          <div class="form-group">
            <%= form.label :date_serum,
              "Tanggal Pengambilan Spesimen",
              class: "form-control-label" %>
            <%= form.text_field :date_serum,
              class: "form-control datepicker", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= form.label :place_serum,
              "Tempat Pemeriksaan",
              class: "form-control-label" %>
            <%= form.text_field :place_serum,
              class: "form-control" %>
          </div>

          <div class="form-group">
            <%= form.label :result_serum,
              "Hasil",
              class: "form-control-label" %>
            <%= form.text_area :result_serum,
              class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <%= check_box_tag 'is_other', 'true', (l_six_third.ls_t_checkothers.any? ? true : false), 
        class: "custom-control-input" %>
      <%= label_tag :is_other,
        "Pemeriksaan Lain?",
        class: "custom-control-label" %>
    </div>
  </div>
  
  <%= form.submit 'Save', class: 'btn btn-primary' %>

<% end %>
