<p id="notice"><%= notice %></p>

<p>
  <strong>L six third:</strong>
  <%= @l_six_third.l_six_third %>
</p>

<p>
  <strong>Date nasopharyngeal:</strong>
  <%= @l_six_third.date_nasopharyngeal %>
</p>

<p>
  <strong>Place nasopharyngeal:</strong>
  <%= @l_six_third.place_nasopharyngeal %>
</p>

<p>
  <strong>Result nasopharyngeal:</strong>
  <%= @l_six_third.result_nasopharyngeal %>
</p>

<p>
  <strong>Date oropharyngeal:</strong>
  <%= @l_six_third.date_oropharyngeal %>
</p>

<p>
  <strong>Place oropharyngeal:</strong>
  <%= @l_six_third.place_oropharyngeal %>
</p>

<p>
  <strong>Result oropharyngeal:</strong>
  <%= @l_six_third.result_oropharyngeal %>
</p>

<p>
  <strong>Date sputum:</strong>
  <%= @l_six_third.date_sputum %>
</p>

<p>
  <strong>Place sputum:</strong>
  <%= @l_six_third.place_sputum %>
</p>

<p>
  <strong>Result sputum:</strong>
  <%= @l_six_third.result_sputum %>
</p>

<p>
  <strong>Date serum:</strong>
  <%= @l_six_third.date_serum %>
</p>

<p>
  <strong>Place serum:</strong>
  <%= @l_six_third.place_serum %>
</p>

<p>
  <strong>Result serum:</strong>
  <%= @l_six_third.result_serum %>
</p>

<%= link_to 'Edit', edit_l_six_third_path(@l_six_third) %> |
<%= link_to 'Back', l_six_thirds_path %>
