
<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_information_exposes_path(@lampiran_eleven_close_contact_information)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_information_expose_path(@lampiran_eleven_close_contact_information)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_information_expose, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_information_expose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_information_expose.errors.count, "error") %> prohibited this lampiran_eleven_information_expose from being saved:</h2>

      <ul>
      <% lampiran_eleven_information_expose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :main_type_contact_id, "Jenis Kontak",class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_type_contact_id,
            Main::TypeContact.all,
            :slug,
            :type_contact,
            {:prompt => false},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% else %>
          <%= form.collection_select(:main_type_contact_id,
            Main::TypeContact.all,
            :slug,
            :type_contact,
            {:prompt => false,
            selected: @lampiran_eleven_information_expose.type_contact.slug},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :other_type_contact, "Lainnya",class: "form-control-label" %>
        <%= form.text_field :other_type_contact, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :date_contact, "Tanggal",class: "form-control-label" %>
        <%= form.text_field :date_contact, class: "form-control datepicker" %>
      </div>

      <div class="form-group">
        <%= form.label :duration_contact, "Durasi",class: "form-control-label" %>
        <%= form.text_field :duration_contact, class: "form-control", type: "time" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :main_set_location_id, "Lokasi",class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_set_location_id,
            Main::SetLocation.all,
            :slug,
            :set_location,
            {:prompt => false},
            {class: "form-control",
            required: true,
            "data-placeholder": "Lokasi",
            "data-toggle": "select",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% else %>
          <%= form.collection_select(:main_set_location_id,
            Main::SetLocation.all,
            :slug,
            :set_location,
            {:prompt => false,
            selected: @lampiran_eleven_information_expose.set_location.slug},
            {class: "form-control",
            required: true,
            "data-placeholder": "Lokasi",
            "data-toggle": "select",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group">
        <%= form.label :other_set_location, "Lainnya",class: "form-control-label" %>
        <%= form.text_field :other_set_location, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
