<p id="notice"><%= notice %></p>

<p>
  <strong>Main type contact:</strong>
  <%= @lampiran_eleven_information_expose.type_contact.type_contact %>
</p>

<p>
  <strong>Main set location:</strong>
  <%= @lampiran_eleven_information_expose.set_location.set_location %>
</p>

<p>
  <strong>Other type contact:</strong>
  <%= @lampiran_eleven_information_expose.other_type_contact %>
</p>

<p>
  <strong>Date contact:</strong>
  <%= @lampiran_eleven_information_expose.date_contact %>
</p>

<p>
  <strong>Duration contact:</strong>
  <%= @lampiran_eleven_information_expose.duration_contact %>
</p>

<p>
  <strong>Other set location:</strong>
  <%= @lampiran_eleven_information_expose.other_set_location %>
</p>
<%= link_to 'Add Close Contact', new_lampiran_eleven_close_contact_information_information_expose_close_contact_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose) %>
|
<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_information_expose_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose) %>
|
<%= link_to 'Back', lampiran_eleven_close_contact_information_information_exposes_path(@lampiran_eleven_close_contact_information) %>
