<p id="notice"><%= notice %></p>

<p>
  <strong>L six first:</strong>
  <%= @l_six_fourth.l_six_first %>
</p>

<p>
  <strong>Abroad:</strong>
  <%= @l_six_fourth.abroad %>
</p>

<p>
  <strong>Abroad destination:</strong>
  <%= @l_six_fourth.abroad_destination %>
</p>

<p>
  <strong>Out town:</strong>
  <%= @l_six_fourth.out_town %>
</p>

<p>
  <strong>Out town destination:</strong>
  <%= @l_six_fourth.out_town_destination %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @l_six_fourth.hospital %>
</p>

<p>
  <strong>Hospital destination:</strong>
  <%= @l_six_fourth.hospital_destination %>
</p>

<p>
  <strong>Animal market:</strong>
  <%= @l_six_fourth.animal_market %>
</p>

<p>
  <strong>Animal market destination:</strong>
  <%= @l_six_fourth.animal_market_destination %>
</p>

<p>
  <strong>Contact pdp:</strong>
  <%= @l_six_fourth.contact_pdp %>
</p>

<p>
  <strong>Contact pdp destination:</strong>
  <%= @l_six_fourth.contact_pdp_destination %>
</p>

<p>
  <strong>Contact positive:</strong>
  <%= @l_six_fourth.contact_positive %>
</p>

<p>
  <strong>Contact positive destination:</strong>
  <%= @l_six_fourth.contact_positive_destination %>
</p>

<p>
  <strong>Medic officer:</strong>
  <%= @l_six_fourth.medic_officer %>
</p>

<p>
  <strong>Explain of procedure alcohol:</strong>
  <%= @l_six_fourth.explain_of_procedure_alcohol %>
</p>

<p>
  <strong>Is goggle:</strong>
  <%= @l_six_fourth.is_goggle %>
</p>

<p>
  <strong>Isn apd:</strong>
  <%= @l_six_fourth.isn_apd %>
</p>

<p>
  <strong>Is n99 ffp3:</strong>
  <%= @l_six_fourth.is_n99_ffp3 %>
</p>

<p>
  <strong>Is n95 ffp2:</strong>
  <%= @l_six_fourth.is_n95_ffp2 %>
</p>

<p>
  <strong>Is gloves:</strong>
  <%= @l_six_fourth.is_gloves %>
</p>

<p>
  <strong>Is medic mask:</strong>
  <%= @l_six_fourth.is_medic_mask %>
</p>

<p>
  <strong>Is gown:</strong>
  <%= @l_six_fourth.is_gown %>
</p>

<p>
  <strong>Is procedure:</strong>
  <%= @l_six_fourth.is_procedure %>
</p>

<%= link_to 'Edit', edit_l_six_fourth_path(@l_six_fourth) %> |
<%= link_to 'Back', l_six_fourths_path %>
