<%= form_with(model: main_transportation, local: true) do |form| %>
  <% if main_transportation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_transportation.errors.count, "error") %> prohibited this main_transportation from being saved:</h2>

      <ul>
      <% main_transportation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.text_field :transportation, class: 'form-control', placeholder: 'Jenis Transportasi' %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
