<%= form_with(model: main_personal_protective_equipment, local: true) do |form| %>
  <% if main_personal_protective_equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_personal_protective_equipment.errors.count, "error") %> prohibited this main_personal_protective_equipment from being saved:</h2>

      <ul>
      <% main_personal_protective_equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personal_protective_equipment %>
    <%= form.text_field :personal_protective_equipment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
