<p id="notice"><%= notice %></p>

<h1>Main Personal Protective Equipments</h1>

<table>
  <thead>
    <tr>
      <th>Personal protective equipment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_personal_protective_equipments.each do |main_personal_protective_equipment| %>
      <tr>
        <td><%= main_personal_protective_equipment.personal_protective_equipment %></td>
        <td><%= link_to 'Show', main_personal_protective_equipment %></td>
        <td><%= link_to 'Edit', edit_main_personal_protective_equipment_path(main_personal_protective_equipment) %></td>
        <td><%= link_to 'Destroy', main_personal_protective_equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Personal Protective Equipment', new_main_personal_protective_equipment_path %>
