<p id="notice"><%= notice %></p>

<p>
  <strong>L six third:</strong>
  <%= @l_six_t_checkother.l_six_third %>
</p>

<p>
  <strong>Other check:</strong>
  <%= @l_six_t_checkother.other_check %>
</p>

<p>
  <strong>Date check other:</strong>
  <%= @l_six_t_checkother.date_check_other %>
</p>

<p>
  <strong>Place check other:</strong>
  <%= @l_six_t_checkother.place_check_other %>
</p>

<p>
  <strong>Result check other:</strong>
  <%= @l_six_t_checkother.result_check_other %>
</p>

<%= link_to 'Edit', edit_l_six_t_checkother_path(@l_six_t_checkother) %> |
<%= link_to 'Back', l_six_t_checkothers_path %>
