<div class="container-fluid mt--6">
    <% if notice!=nil %>
      <div class="alert alert-success" role="alert">
          <%= notice %>
      </div>
    <% end %>
    
    <% if user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <span class="alert-icon"><h3 class="text-white"><%= icon("fas", "exclamation-triangle", class: "fa-3x text-white")%></h3></span>
          <span class="alert-text">
            <h3 class="text-white"><strong><%= pluralize(user.errors.count, "error") %></strong> prohibited this city from being saved:</h3>
            <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </span>
          
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    <% end %>

    <div class="card">
      <div class="card-header">
        <h3><%= @header_card %></h3>
      </div>
      <div class="card-body">
        <%= form_with(model: user, local: true) do |form| %>

          <div class="form-group">
            <%= form.text_field :email, class:"form-control",placeholder:"Email", required: true%>
          </div>

          <div class="form-group">
            <%= form.text_field :username, class:"form-control", placeholder:"Username", required: true %>
          </div>


          <div class="form-group">
            <%= form.text_field :name, class:"form-control", placeholder:"Name", required: true %>
          </div>

            <div class="form-group">
                <%= form.label :main_dinkes_province_id,
                "Dinas Kesehatan Provinsi",
                class: "form-control-label" %>
                <% if (params[:action]=="new") || (params[:action]=="create") %>
                <%= form.collection_select(:main_dinkes_province_id,
                    Main::DinkesProvince.all,
                    :slug,
                    :dinkes_province,
                    {:prompt => false},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Dinas Kesehatan Provinsi"}) %>
                <% else %>
                <%= form.collection_select(:main_dinkes_province_id,
                    Main::DinkesProvince.all,
                    :slug,
                    :dinkes_province,
                    {:prompt => false,
                    selected: user.dinkes_province.slug},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Dinas Kesehatan Provinsi"}) %>
                <% end %>
            </div>

            <div class="form-group">
                <%= form.label :main_dinkes_region_id,
                "Dinas Kesehatan Kabupaten/Kota",
                class: "form-control-label" %>
                <% if (params[:action]=="new") || (params[:action]=="create") %>
                <%= form.collection_select(:main_dinkes_region_id,
                    Main::DinkesRegion.all,
                    :slug,
                    :dinkes_region,
                    {:prompt => false},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Dinas Kesehatan Kabupaten/Kota"}) %>
                <% else %>
                <%= form.collection_select(:main_dinkes_region_id,
                    Main::DinkesRegion.all,
                    :slug,
                    :dinkes_region,
                    {:prompt => false,
                    selected: user.dinkes_region.slug},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Dinas Kesehatan Kabupaten/Kota"}) %>
                <% end %>
            </div>

            <div class="form-group">
                <%= form.label :main_hospital_id,
                "Rumah Sakit",
                class: "form-control-label" %>
                <% if (params[:action]=="new") || (params[:action]=="create") %>
                <%= form.collection_select(:main_hospital_id,
                    Main::Hospital.all,
                    :slug,
                    :hospital,
                    {:prompt => false},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Rumah Sakit"}) %>
                <% else %>
                <%= form.collection_select(:main_hospital_id,
                    Main::Hospital.all,
                    :slug,
                    :hospital,
                    {:prompt => false,
                    selected: user.hospital.slug},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Rumah Sakit"}) %>
                <% end %>
            </div>

            <div class="form-group">
                <%= form.label :main_public_health_center_id,
                "Puskesmas",
                class: "form-control-label" %>
                <% if (params[:action]=="new") || (params[:action]=="create") %>
                <%= form.collection_select(:main_public_health_center_id,
                    Main::PublicHealthCenter.all,
                    :slug,
                    :public_health_center,
                    {:prompt => false},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Puskesmas"}) %>
                <% else %>
                <%= form.collection_select(:main_public_health_center_id,
                    Main::PublicHealthCenter.all,
                    :slug,
                    :public_health_center,
                    {:prompt => false,
                    selected: user.public_health_center.slug},
                    {class: "form-control",
                    "data-toggle": "select",
                    "title": "Example (Belum Menikah)",
                    "data-live-search": "true",
                    "data-live-search-placeholder": "Cari ...",
                    "data-placeholder": "Puskesmas"}) %>
                <% end %>
            </div>

          <div class="form-group">
            <%= form.select(:role_id ,Role.all.collect{|u| [u.name, u.id]},{prompt: "Choose", disabled: true}, id: '', class:"form-control select2", 'data-toggle': "select", 'title': "Simple select", 'data-live-search': "true", 'data-live-search-placeholder': "Search ...", required: true) %>
          </div>

          <div class="form-group">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= form.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password", required: true%>
          </div>

          <div class="form-group">
            <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:"Password Confirmation", required: true %>
          </div>


          <div class="actions">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            <%= link_to 'Back', users_path, :class => 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>