
<%= form_with(model: user, remote: true) do |form| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= form.text_field :email, class:"form-control",placeholder:"Email", required: true%>
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
          <%= form.text_field :username, class:"form-control", placeholder:"Username", required: true %>
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
          <%= form.text_field :phone_number, class:"form-control", placeholder:"Phone Number", required: true %>
        </div>

        <div class="form-group">
          <%= form.text_field :name, class:"form-control", placeholder:"Name", required: true %>
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= form.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password", required: (((params[:action]=="new") || (params[:action]=="create")) ? true : false)%>
        </div>

        <div class="form-group">
          <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:"Password Confirmation", required: (((params[:action]=="new") || (params[:action]=="create")) ? true : false) %>
        </div>

        <% if (current_user.role.is_dinkes_region) || (current_user.role.is_public_health_center) %>
          <% if (current_user.role.is_dinkes_province) %>
            <% role_id = Role.where(is_dinkes_region: true).first  %>
            <%= form.text_field :role_id, value: role_id.slug, hidden: true %>
          <% end %>
          <% if (current_user.role.is_dinkes_region) %>
            <% role_id = Role.where(is_public_health_center: true).first %>
            <%= form.text_field :role_id, value: role_id.slug, hidden: true %>
          <% end %>
          <% if (current_user.role.is_public_health_center) %>
            <% role_id = Role.where(is_surveilance: true).first %>
            <%= form.text_field :role_id, value: role_id.slug, hidden: true %>
          <% end %>

        <% else %>
          <div class="form-group">
            <%= form.select(:role_id ,Role.all.collect{|u| [u.name, u.id]},{prompt: "Pilih Role", disabled: true}, id: '', class:"form-control select2", 'data-toggle': "select", required: true) %>
          </div>
        <% end %>


        <% if !current_user.dinkes_region.nil? %>

          <div class="form-group">
            <div class="custom-control custom-radio mb-2">
              <input
                <%= user.public_health_center.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_puskes" required name="radio-kerja-surv">
              <label for="radio_puskes" class="custom-control-label">Puskesmas</label>
            </div>
            <% dinkes_region_data = current_user.dinkes_region.id %>
            <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index")%>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.where(main_dinkes_region_id: dinkes_region_data),
                :slug,
                :public_health_center_sub_district,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_puskes",
                required: true
                }) %>
            <% else %>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.where(main_dinkes_region_id: dinkes_region_data),
                :slug,
                :public_health_center_sub_district,
                {:prompt => "Pilih",
                selected: user.public_health_center.nil? ? "" : user.public_health_center.slug},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_puskes",
                required: true
                }) %>
            <% end %>
          </div>

        <% elsif !current_user.public_health_center.nil? %>

          <%= form.text_field :main_public_health_center_id, value: current_user.public_health_center.slug, hidden: true %>

        <% else %>

          <div class="form-group">
            <label for="" class="form-control-label">Tempat Bekerja (Pilih Salah Satu)</label><br>
            <div class="custom-control custom-radio mb-2">
              <input
                <%= user.dinkes_province.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_prov" name="radio-kerja-surv">
              <label for="radio_prov" class="custom-control-label">Dinas Kesehatan Provinsi</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
              <%= form.collection_select(:main_dinkes_province_id,
                Main::DinkesProvince.all,
                :slug,
                :dinkes_province,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_prov"}) %>
            <% else %>
              <%= form.collection_select(:main_dinkes_province_id,
                Main::DinkesProvince.all,
                :slug,
                :dinkes_province,
                {:prompt => "Pilih",
                selected: user.dinkes_province.nil? ? "" : user.dinkes_province.slug},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_prov"}) %>
            <% end %>
          </div>


          <div class="form-group">
            <div class="custom-control custom-radio mb-2">
              <input
                <%= user.dinkes_region.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_kota" name="radio-kerja-surv">
              <label for="radio_kota" class="custom-control-label">Dinas Kesehatan Kabupaten/Kota</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
              <%= form.collection_select(:main_dinkes_region_id,
                Main::DinkesRegion.all,
                :slug,
                :dinkes_region_city,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_kota"}) %>
            <% else %>
              <%= form.collection_select(:main_dinkes_region_id,
                Main::DinkesRegion.all,
                :slug,
                :dinkes_region_city,
                {:prompt => "Pilih",
                selected: user.dinkes_region.nil? ? "" : user.dinkes_region.slug},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_kota"}) %>
            <% end %>
          </div>

          <div class="form-group">
            <div class="custom-control custom-radio mb-2">
              <input
                <%= user.public_health_center.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_rs" name="radio-kerja-surv">
              <label for="radio_rs" class="custom-control-label">Rumah Sakit</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index") %>
              <%= form.collection_select(:main_hospital_id,
                Main::Hospital.all,
                :slug,
                :hospital,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_rs"}) %>
            <% else %>
              <%= form.collection_select(:main_hospital_id,
                Main::Hospital.all,
                :slug,
                :hospital,
                {:prompt => "Pilih",
                selected: user.hospital.nil? ? "" : user.hospital.slug},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_rs"}) %>
            <% end %>
          </div>

          <div class="form-group">
            <div class="custom-control custom-radio mb-2">
              <input
                <%= user.public_health_center.nil? ? "" : "checked" %>
                type="radio" class="custom-control-input" id="radio_puskes" name="radio-kerja-surv">
              <label for="radio_puskes" class="custom-control-label">Puskesmas</label>
            </div>
            <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index")%>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.all,
                :slug,
                :public_health_center_sub_district,
                {:prompt => "Pilih"},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_puskes"}) %>
            <% else %>
              <%= form.collection_select(:main_public_health_center_id,
                Main::PublicHealthCenter.all,
                :slug,
                :public_health_center_sub_district,
                {:prompt => "Pilih",
                selected: user.public_health_center.nil? ? "" : user.public_health_center.slug},
                {class: "form-control lokasi-kerja-surv",
                "data-toggle": "select",
                "data-selected": "radio_puskes"}) %>
            <% end %>
          </div>

        <% end %>
        
        <div class="form-group">
          <div class="dropzone dropzone-single dz-clickable <%= user.avatar.nil? ? "" : "dz-max-files-reached" %>" data-toggle="dropzone">

            <div class="dz-preview dz-preview-single">
                <div class="dz-preview-cover">
                    <% if user.avatar %>
                      <%= image_tag user.avatar.url(:medium), class: "dz-preview-img" %>
                    <% else %>
                      <img class="dz-preview-img" src="" alt="" data-dz-thumbnail>
                    <% end %>
                </div>
            </div>
            <div class="dz-default dz-message">
              <span>Upload Avatar Ratio 1:1</span>
            </div>
          </div>
          <%= form.file_field :avatar, class:"avatar-input" %>
        </div>
      </div>
    </div>









  </div>
  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
