<%= content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header">
        <h3><%= @header_card %></h3>
      </div>
      <div class="card-body">
        <%= form_with(model: @user, url: update_profile_path, :method => patch) do |form| %>

          <% if @user.errors.any? %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span class="alert-icon"><h3 class="text-white"><%= icon("fas", "exclamation-triangle", class: "fa-3x text-white")%></h3></span>
                <span class="alert-text">
                  <h3 class="text-white"><strong><%= pluralize(@user.errors.count, "error") %></strong> prohibited this city from being saved:</h3>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </span>
                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <% end %>

          <div class="row">
            <div class="col-md-2">
              <div class="row justify-content-center">
                <div class="col-8 col-lg-12 col-md-12">
                  <div class="form-group">
                    <div class="dropzone dropzone-single dz-clickable <%= @user.avatar.nil? ? "" : "dz-max-files-reached" %>" data-toggle="dropzone">
                      <div class="dz-preview dz-preview-single">
                        <div class="dz-preview-cover">
                            <% if @user.avatar %>
                              <%= image_tag @user.avatar.url(:medium), class: "dz-preview-img" %>
                            <% else %>
                              <img class="dz-preview-img" src="" alt="" data-dz-thumbnail>
                            <% end %>
                        </div>
                      </div>
                      <div class="dz-default dz-message">
                        <span>Upload Avatar Ratio 1:1</span>
                      </div>
                    </div>
                    <%= form.file_field :avatar, class:"avatar-input" %>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <%= form.text_field :email, class:"form-control",placeholder:"Email", required: true%>
              </div>

              <div class="form-group">
                <%= form.text_field :name, class:"form-control", placeholder:"Name", required: true %>
              </div>

              <div class="form-group">
                <%= form.text_field :phone_number, class:"form-control", placeholder:"Username", required: true %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= form.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password" %>
              </div>

              <div class="form-group">
                <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:"Password Confirmation" %>
              </div>
              <div class="form-group">
                  <%= form.password_field :current_password,
                    class:"form-control",
                    placeholder:"Old Password" %>
              </div>
            </div>
          </div>


          <div class="actions">
            <%= form.submit 'Submit', :class => 'btn btn-primary' %>
            <%= link_to 'Back', show_profile_path, :class => 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
</div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>