<% content_for :isi do %>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-4 order-xl-1">
                <div class="card">
                    <!-- Card body -->
                    <%= image_tag @user.avatar.url(:thumb), class: "card-img-top"%>
                    <div class="card-body">
                    <a href="#!">
                        <%# image_tag @user.avatar.url(:original), class: "rounded-circle img-center img-fluid shadow shadow-lg--hover", style:"height: 140px; width: 140px; object-fit: cover;"%>
                    </a>
                    <div class="text-center">
                        <h5 class="h3 title">
                        <span class="d-block mb-1"><%= @user.name %></span>
                        <small class="h4 font-weight-light text-muted"><%= @user.role.name %> - @<%= @user.username %> - <%= @user.phone_number %></small>
                        </h5>
                        <div class="h5 mt-4">
                            <%= @user.email %>
                        </div>
                        <div>
                            <%= @user.dinkes_province.nil? ? nil : @user.dinkes_province.dinkes_province %>
                            <%= @user.dinkes_region.nil? ? nil : @user.dinkes_region.dinkes_region%>
                            <%= @user.hospital.nil? ? nil : @user.hospital.hospital %>
                            <%= @user.public_health_center.nil? ? nil : @user.public_health_center.public_health_center %>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-2">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total traffic</h5>
                        <span class="h2 font-weight-bold mb-0">350,897</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                            <i class="ni ni-active-40"></i>
                        </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>
                    </div>
                </div>
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                    <div class="row">
                        <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                        <span class="h2 font-weight-bold mb-0">49,65%</span>
                        </div>
                        <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                            <i class="ni ni-chart-bar-32"></i>
                        </div>
                        </div>
                    </div>
                    <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                        <span class="text-nowrap">Since last month</span>
                    </p>
                    </div>
                </div>
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                    <!-- Title -->
                    <h5 class="h3 mb-0">Latest messages</h5>
                    </div>
                    <!-- Card body -->
                    <div class="card-body p-0">
                    <!-- List group -->
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                            <div class="d-flex w-100 align-items-center">
                                <img src="../assets/img/theme/team-1.jpg" alt="Image placeholder" class="avatar avatar-xs mr-2">
                                <h5 class="mb-1">Tim</h5>
                            </div>
                            </div>
                            <small>2 hrs ago</small>
                        </div>
                        <h4 class="mt-3 mb-1"> New order for Argon Dashboard</h4>
                        <p class="text-sm mb-0">Doasdnec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                            <div class="d-flex w-100 align-items-center">
                                <img src="../assets/img/theme/team-2.jpg" alt="Image placeholder" class="avatar avatar-xs mr-2">
                                <h5 class="mb-1">Mike</h5>
                            </div>
                            </div>
                            <small>1 day ago</small>
                        </div>
                        <h4 class="mt-3 mb-1"><span class="text-info">●</span> Your theme has been updated</h4>
                        <p class="text-sm mb-0">Doasdnec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-3">
                <div class="card widget-calendar">
                    <!-- Card header -->
                    <div class="card-header">
                    <div class="h5 text-muted mb-1 widget-calendar-year">2020</div>
                    <div class="h3 mb-0 widget-calendar-day">Wednesday, May 20</div>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                    <div data-toggle="widget-calendar" class="fc fc-unthemed fc-ltr">
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>