<p id="notice"><%= notice %></p>

<p>
  <strong>Telegram username reporter:</strong>
  <%= @telegram_message_traveler_reporter.telegram_username_reporter %>
</p>

<p>
  <strong>Chat:</strong>
  <%= @telegram_message_traveler_reporter.chat_id %>
</p>

<p>
  <strong>Username telegram:</strong>
  <%= @telegram_message_traveler_reporter.username_telegram %>
</p>

<p>
  <strong>Message:</strong>
  <%= @telegram_message_traveler_reporter.message %>
</p>

<%= link_to 'Edit', edit_telegram_message_traveler_reporter_path(@telegram_message_traveler_reporter) %> |
<%= link_to 'Back', telegram_message_traveler_reporters_path %>
