<%= form_with(model: main_tribe, remote: true) do |form| %>
  <% if main_tribe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_tribe.errors.count, "error") %> prohibited this main_tribe from being saved:</h2>

      <ul>
      <% main_tribe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.text_field :tribe, autocomplete: 'off', class: 'form-control', placeholder: 'Nama Suku' %>
      <div class="invalid-feedback"></div>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
