<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_specimen_contacts_path(@lampiran_eleven_close_contact_information)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_specimen_contact_path(@lampiran_eleven_close_contact_information)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_specimen_contact, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_specimen_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_specimen_contact.errors.count, "error") %> prohibited this lampiran_eleven_specimen_contact from being saved:</h2>

      <ul>
      <% lampiran_eleven_specimen_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :type_of_specimen, 
          "Jenis Spesimen",
          class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
        <%= form.select :type_of_specimen,
          options_for_select([
            ["Pilih", ""],
            ["Nasal Swab", "swab"], 
            ["Swab Tenggorok", "tenggorok"], 
            ["Nasopharyngeal swab", "nasopharyngeal"], 
            ["Orofaringeal swab", "orofaringeal"],
            ["Serum", "serum"]
          ]), {},
          class: "form-control",
          data: {
            "toggle": "select"
          } %>
        <% else %>
        <%= form.select :type_of_specimen,
          options_for_select([
            ["Pilih", ""],
            ["Nasal Swab", "swab"], 
            ["Swab Tenggorok", "tenggorok"], 
            ["Nasopharyngeal swab", "nasopharyngeal"], 
            ["Orofaringeal swab", "orofaringeal"],
            ["Serum", "serum"]
          ], @lampiran_eleven_specimen_contact.read_attribute_before_type_cast(:type_of_specimen)), 
          {},
          class: "form-control",
          data: {
            "toggle": "select"
          } %>
        <% end %>
      </div> 
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :date_of_specimen_collection,
          "Tanggal pengambilan spesimen",
          class: "form-control-label" %>
        <%= form.text_field :date_of_specimen_collection, class: "form-control datepicker specimen-child", autocomplete: "off",
        value: @lampiran_eleven_specimen_contact.date_of_specimen_collection.nil? ? "" : @lampiran_eleven_specimen_contact.date_of_specimen_collection.strftime("%d/%m/%Y") %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :laboratory_examination_results,
      "Hasil pemeriksaan laboratorium",
      class: "form-control-label" %>
    <%= form.text_area :laboratory_examination_results, class: "form-control specimen-child", rows: 3 %>
  </div>

  
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
