<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_specimen_contacts_path(@lampiran_eleven_close_contact_information)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_specimen_contact_path(@lampiran_eleven_close_contact_information)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_specimen_contact, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_specimen_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_specimen_contact.errors.count, "error") %> prohibited this lampiran_eleven_specimen_contact from being saved:</h2>

      <ul>
      <% lampiran_eleven_specimen_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col">
      <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :type_of_specimen, class: "custom-control-input" %>
        <%= form.label :type_of_specimen,
          "Jenis Spesimen",
          class: "custom-control-label" %>
      </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date_of_specimen_collection,
      "Tanggal pengambilan spesimen",
      class: "form-control-label" %>
    <%= form.text_field :date_of_specimen_collection, class: "form-control datepicker" %>
  </div>

  <div class="form-group">
    <%= form.label :laboratory_examination_results,
      "Hasil pemeriksaan laboratorium",
      class: "form-control-label" %>
    <%= form.text_area :laboratory_examination_results, class: "form-control", rows: 3 %>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
