<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = new_lampiran_eleven_close_contact_information_info_exposes_officer_respiratory_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_info_exposes_officer_respiratory_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_respiratory_symptom, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_respiratory_symptom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_respiratory_symptom.errors.count, "error") %> prohibited this lampiran_eleven_respiratory_symptom from being saved:</h2>

      <ul>
      <% lampiran_eleven_respiratory_symptom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_sore_throat, class: "custom-control-input" %>
          <%= form.label :is_sore_throat,
            "Sakit tenggorokan",
            class: "custom-control-label" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :date_of_sore_throat,
          "Sakit tenggorokan sejak tanggal",
          class: "form-control-label" %>
        <%= form.text_field :date_of_sore_throat,
          class: "form-control datepicker" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_cough, class: "custom-control-input" %>
          <%= form.label :is_cough,
            "Batuk",
            class: "custom-control-label" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :date_of_cough,
          "Batuk sejak tanggal",
          class: "form-control-label" %>
        <%= form.text_field :date_of_cough,
          class: "form-control datepicker" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_flu, class: "custom-control-input" %>
          <%= form.label :is_flu,
            "Pilek",
            class: "custom-control-label" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :date_of_flu,
          "Pilek sejak tanggal",
          class: "form-control-label" %>
        <%= form.text_field :date_of_flu,
          class: "form-control datepicker" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_out_of_breath, class: "custom-control-input" %>
          <%= form.label :is_out_of_breath,
            "Sesak nafas",
            class: "custom-control-label" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :date_of_out_of_breath,
          "Sesak nafas sejak tanggal",
          class: "form-control-label" %>
        <%= form.text_field :date_of_out_of_breath,
          class: "form-control datepicker" %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
