<%= content_for :judul_page do %>
  Laporan Warga Bergejala Klinis
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to telegram_message_ili_observers_path do %>
            <%= icon("fab", "telegram-plane") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Laporan Warga Bergejala Klinis</li>
    </ol>
<% end %>
<% content_for :isi do %>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header border-0">
      <div class="row">
        <div class="col">
          <h3 class="mb-0">Laporan Warga Bergejala Klinis</h3>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table align-items-center table-flush table-striped">
        <thead class="thead-light">
          <tr>
            <th>Telegram username observer</th>
            <th>Chat</th>
            <th>Username telegram</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @telegram_message_ili_observers.each do |telegram_message_ili_observer| %>
            <tr>
              <td><%= telegram_message_ili_observer.username_observer.username_telegram %></td>
              <td><%= telegram_message_ili_observer.chat_id %></td>
              <td><%= telegram_message_ili_observer.username_telegram %></td>
              <td><%= telegram_message_ili_observer.message %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>




