<p id="notice"><%= notice %></p>

<h1>Telegram Message Ili Observers</h1>

<table>
  <thead>
    <tr>
      <th>Telegram username observer</th>
      <th>Chat</th>
      <th>Username telegram</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telegram_message_ili_observers.each do |telegram_message_ili_observer| %>
      <tr>
        <td><%= telegram_message_ili_observer.username_observer.username_telegram %></td>
        <td><%= telegram_message_ili_observer.chat_id %></td>
        <td><%= telegram_message_ili_observer.username_telegram %></td>
        <td><%= telegram_message_ili_observer.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

