<%= form_with(model: telegram_username_observer, local: true) do |form| %>
  <% if telegram_username_observer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telegram_username_observer.errors.count, "error") %> prohibited this telegram_username_observer from being saved:</h2>

      <ul>
      <% telegram_username_observer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :main_dinkes_province_id,
      "Dinas Kesehatan Provinsi",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => false},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Provinsi"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => false,
        selected: telegram_username_observer.dinkes_province.slug},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Provinsi"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :main_dinkes_region_id,
      "Dinas Kesehatan Regional",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region,
        {:prompt => false},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region,
        {:prompt => false,
        selected: telegram_username_observer.dinkes_region.slug},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :main_hospital_id,
      "Hospital",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => false},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% else %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => false,
        selected: telegram_username_observer.hospital.slug},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :main_public_health_center_id,
      "Puskesmas",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center,
        {:prompt => false},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% else %>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center,
        {:prompt => false,
        selected: telegram_username_observer.public_health_center.slug},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :user_id,
      "User",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username,
        {:prompt => false},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% else %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username,
        {:prompt => false,
        selected: telegram_username_observer.user.slug},
        {class: "form-control",
        required: true,
        "data-toggle": "select",
        "title": "Example (Belum Menikah)",
        "data-live-search": "true",
        "data-live-search-placeholder": "Cari ...",
        "data-placeholder": "Dinas Kesehatan Region"}) %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :username_telegram %>
    <%= form.text_field :username_telegram %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
