<%= form_with(model: telegram_username_observer, remote: true) do |form| %>
  <% if telegram_username_observer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telegram_username_observer.errors.count, "error") %> prohibited this telegram_username_observer from being saved:</h2>

      <ul>
      <% telegram_username_observer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
  <div class="form-group">
    <%= form.label :username_telegram,
    "Username",
    class: "form-control-label" %>
    <%= form.text_field :username_telegram, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :name,
    "Nama",
    class: "form-control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="" class="form-control-label">Tempat Bekerja (Pilih Salah Satu)</label><br>
    <div class="custom-control custom-radio mb-2">
      <input
        <%= telegram_username_observer.dinkes_province.nil? ? "" : "checked" %>
        type="radio" class="custom-control-input" id="radio_prov" name="radio-kerja-surv">
      <label for="radio_prov" class="custom-control-label">Dinas Kesehatan Provinsi</label>
    </div>
    <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => "Pilih"},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_prov"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => "Pilih",
        selected: telegram_username_observer.dinkes_province.nil? ? "" : telegram_username_observer.dinkes_province.slug},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_prov"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <div class="custom-control custom-radio mb-2">
      <input
        <%= telegram_username_observer.dinkes_region.nil? ? "" : "checked" %>
        type="radio" class="custom-control-input" id="radio_kota" name="radio-kerja-surv">
      <label for="radio_kota" class="custom-control-label">Dinas Kesehatan Kabupaten/Kota</label>
    </div>
    <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region_city,
        {:prompt => "Pilih"},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_kota"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region_city,
        {:prompt => "Pilih",
        selected: telegram_username_observer.dinkes_region.nil? ? "" : telegram_username_observer.dinkes_region.slug},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_kota"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="custom-control custom-radio mb-2">
      <input
        <%= telegram_username_observer.public_health_center.nil? ? "" : "checked" %>
        type="radio" class="custom-control-input" id="radio_rs" name="radio-kerja-surv">
      <label for="radio_rs" class="custom-control-label">Rumah Sakit</label>
    </div>
    <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index") %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => "Pilih"},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_rs"}) %>
    <% else %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => "Pilih",
        selected: telegram_username_observer.hospital.nil? ? "" : telegram_username_observer.hospital.slug},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_rs"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="custom-control custom-radio mb-2">
      <input
        <%= telegram_username_observer.public_health_center.nil? ? "" : "checked" %>
        type="radio" class="custom-control-input" id="radio_puskes" name="radio-kerja-surv">
      <label for="radio_puskes" class="custom-control-label">Puskesmas</label>
    </div>
    <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index")%>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center_sub_district,
        {:prompt => "Pilih"},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_puskes"}) %>
    <% else %>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center_sub_district,
        {:prompt => "Pilih",
        selected: telegram_username_observer.public_health_center.nil? ? "" : telegram_username_observer.public_health_center.slug},
        {class: "form-control lokasi-kerja-surv",
        "data-toggle": "select",
        "data-selected": "radio_puskes"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :user_id,
      "User",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username, {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username,
        {:prompt => "Pilih",
        selected: telegram_username_observer.user.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>

  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
