<%= form_with(model: telegram_username_observer, remote: true) do |form| %>
  <% if telegram_username_observer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(telegram_username_observer.errors.count, "error") %> prohibited this telegram_username_observer from being saved:</h2>

      <ul>
      <% telegram_username_observer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
  <div class="form-group">
    <%= form.label :username_telegram,
    "Username",
    class: "form-control-label" %>
    <%= form.text_field :username_telegram, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :name,
    "Nama",
    class: "form-control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :main_dinkes_province_id,
      "Dinas Kesehatan Provinsi",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_province_id,
        Main::DinkesProvince.all,
        :slug,
        :dinkes_province,
        {:prompt => "Pilih",
        selected: telegram_username_observer.dinkes_province.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :main_dinkes_region_id,
      "Dinas Kesehatan Regional",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create")  || (params[:action]=="index")%>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region, 
        {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:main_dinkes_region_id,
        Main::DinkesRegion.all,
        :slug,
        :dinkes_region,
        {:prompt => "Pilih",
        selected: telegram_username_observer.dinkes_region.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :main_hospital_id,
      "Hospital",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index") %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:main_hospital_id,
        Main::Hospital.all,
        :slug,
        :hospital,
        {:prompt => "Pilih",
        selected: telegram_username_observer.hospital.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :main_public_health_center_id,
      "Puskesmas",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") || (params[:action]=="index")%>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center,
        {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:main_public_health_center_id,
        Main::PublicHealthCenter.all,
        :slug,
        :public_health_center,
        {:prompt => "Pilih",
        selected: telegram_username_observer.public_health_center.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :user_id,
      "User",
      class: "form-control-label" %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username, {:prompt => "Pilih"},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% else %>
      <%= form.collection_select(:user_id,
        User.all,
        :slug,
        :username,
        {:prompt => "Pilih",
        selected: telegram_username_observer.user.slug},
        {class: "form-control",
        "data-toggle": "select"}) %>
    <% end %>
  </div>

  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
