<% content_for :search_form do %>
  <%= search_form_for @search, url: telegram_username_observers_path, class: "navbar-search navbar-search-dark form-inline mr-sm-3", id: "navbar-search-main" do |f| %>
      <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!-- <input class="form-control" placeholder="Search" type="text"> -->
              <%= f.search_field :username_telegram_cont, class: "form-control", placeholder: "Cari ...", autocomplete: "off" %>
          </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  <% end %>
<% end %>
<%= content_for :judul_page do %>
  Username Telegram Surveilance
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to telegram_username_observers_path do %>
            <%= icon("fab", "telegram-plane") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Username Telegram Surveilance</li>
    </ol>
<% end %>
<% content_for :header_button do%>
  <%= link_to 'New', new_telegram_username_observer_path, 
  class: 'btn btn-sm btn-neutral', 
  data: {'toggle': 'modal', }, remote: true %>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Username Telegram Surveilance</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Username telegram</th>
              <th>Username Web App</th>
              <th>Nama</th>
              <th>Aktifitas Terakhir</th>
              <th>Dinkes Provinsi</th>
              <th>Dinkes Kabupaten/Kota</th>
              <th>Rumah Sakit</th>
              <th>Puskesmas</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @telegram_username_observers.each do |telegram_username_observer| %>
            <tr>
              <td><%= telegram_username_observer.username_telegram %></td>
              <td><%= telegram_username_observer.user.name.with_deleted %></td>
              <td><%= telegram_username_observer.name %></td>
              <td><%= telegram_username_observer.last_activity_at %></td>
              <td><%= telegram_username_observer.dinkes_province.nil? ? "-" : telegram_username_observer.dinkes_province.dinkes_province %></td>
              <td><%= telegram_username_observer.dinkes_region.nil? ? "-" : telegram_username_observer.dinkes_region.dinkes_region %></td>
              <td><%= telegram_username_observer.hospital.nil? ? "-" : telegram_username_observer.hospital.hospital %></td>
              <td><%= telegram_username_observer.public_health_center.nil? ? "-" : telegram_username_observer.public_health_center.public_health_center %></td>
              <td class="text-right">
                <%= link_to edit_telegram_username_observer_path(telegram_username_observer),
                  class: 'table-action', remote: true,
                  data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                  <% icon('fas', 'user-edit') %>
                <% end %>
                <%= link_to telegram_username_observer, method: :delete, 
                  data: { 
                    confirm: 'Are you sure?', 
                    'toggle': 'tooltip', 
                    'original-title': 'Delete',
                    'bootstrap-confirm': 'delete' },
                  class: 'table-action' do %>
                  <% icon('fas', 'trash') %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newUserObserver" tabindex="-1" role="dialog" aria-labelledby="newUserObserverLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newUserObserverLabel">New  Username Surveilance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewUserObserverForm"></div>  
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editUserObserver" tabindex="-1" role="dialog" aria-labelledby="editUserObserverLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserObserverLabel">Edit  Username Surveilance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditUserObserverForm"></div>        
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>