<p id="notice"><%= notice %></p>

<h1>Telegram Username Observers</h1>

<table>
  <thead>
    <tr>
      <th>Main dinkes province</th>
      <th>Main dinkes region</th>
      <th>Main hospital</th>
      <th>Main public health center</th>
      <th>User</th>
      <th>Username telegram</th>
      <th>Last activity at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telegram_username_observers.each do |telegram_username_observer| %>
      <tr>
        <td><%= telegram_username_observer.dinkes_province.dinkes_province %></td>
        <td><%= telegram_username_observer.dinkes_region.dinkes_region %></td>
        <td><%= telegram_username_observer.hospital.hospital %></td>
        <td><%= telegram_username_observer.public_health_center.public_health_center %></td>
        <td><%= telegram_username_observer.user %></td>
        <td><%= telegram_username_observer.username_telegram %></td>
        <td><%= telegram_username_observer.last_activity_at %></td>
        <td><%= link_to 'Show', telegram_username_observer %></td>
        <td><%= link_to 'Edit', edit_telegram_username_observer_path(telegram_username_observer) %></td>
        <td><%= link_to 'Destroy', telegram_username_observer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telegram Username Observer', new_telegram_username_observer_path %>
