<p id="notice"><%= notice %></p>

<p>
  <strong>Is shivering:</strong>
  <%= @lampiran_eleven_other_symptom.is_shivering %>
</p>

<p>
  <strong>Is nausea:</strong>
  <%= @lampiran_eleven_other_symptom.is_nausea %>
</p>

<p>
  <strong>Is convulsions:</strong>
  <%= @lampiran_eleven_other_symptom.is_convulsions %>
</p>

<p>
  <strong>Is fatigue:</strong>
  <%= @lampiran_eleven_other_symptom.is_fatigue %>
</p>

<p>
  <strong>Is headache:</strong>
  <%= @lampiran_eleven_other_symptom.is_headache %>
</p>

<p>
  <strong>Is joint pain:</strong>
  <%= @lampiran_eleven_other_symptom.is_joint_pain %>
</p>

<p>
  <strong>Is muscleache:</strong>
  <%= @lampiran_eleven_other_symptom.is_muscleache %>
</p>

<p>
  <strong>Is throw up:</strong>
  <%= @lampiran_eleven_other_symptom.is_throw_up %>
</p>

<p>
  <strong>Is diarrhea:</strong>
  <%= @lampiran_eleven_other_symptom.is_diarrhea %>
</p>

<p>
  <strong>Is rash:</strong>
  <%= @lampiran_eleven_other_symptom.is_rash %>
</p>

<p>
  <strong>Is conjuctivitis:</strong>
  <%= @lampiran_eleven_other_symptom.is_conjuctivitis %>
</p>

<p>
  <strong>Is bloody nose:</strong>
  <%= @lampiran_eleven_other_symptom.is_bloody_nose %>
</p>

<p>
  <strong>Is loss of consciousness:</strong>
  <%= @lampiran_eleven_other_symptom.is_loss_of_consciousness %>
</p>

<p>
  <strong>Is loss of appetite:</strong>
  <%= @lampiran_eleven_other_symptom.is_loss_of_appetite %>
</p>

<p>
  <strong>Is neurologis:</strong>
  <%= @lampiran_eleven_other_symptom.is_neurologis %>
</p>

<p>
  <strong>Tell of neurologis:</strong>
  <%= @lampiran_eleven_other_symptom.tell_of_neurologis %>
</p>

<p>
  <strong>Other symptom:</strong>
  <%= @lampiran_eleven_other_symptom.other_symptom %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_info_exposes_officer_other_symptom_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer,@lampiran_eleven_other_symptom) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_info_exposes_officer_other_symptoms_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_info_exposes_officer) %>
