<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_comorbid_conditions_path(@lampiran_eleven_close_contact_information)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_comorbid_conditions_path(@lampiran_eleven_close_contact_information)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_comorbid_condition, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_comorbid_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_comorbid_condition.errors.count, "error") %> prohibited this lampiran_eleven_comorbid_condition from being saved:</h2>

      <ul>
      <% lampiran_eleven_comorbid_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_cancer, class: "custom-control-input" %>
          <%= form.label :is_cancer,
          "Kanker",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_diabetes, class: "custom-control-input" %>
          <%= form.label :is_diabetes,
          "Diabetes",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_ppok, class: "custom-control-input" %>
          <%= form.label :is_ppok,
          "PPOK (non-asma)",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_hiv, class: "custom-control-input" %>
          <%= form.label :is_hiv,
          "HIV/Defisiesi Imun",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_liver, class: "custom-control-input" %>
          <%= form.label :is_liver,
          "Penyakit Hati Kronik",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_obesity, class: "custom-control-input" %>
          <%= form.label :is_obesity,
          "Obesitas",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_asthma, class: "custom-control-input" %>
          <%= form.label :is_asthma,
          "Asma",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_blood_disorder, class: "custom-control-input" %>
          <%= form.label :is_blood_disorder,
          "Kelainan Darah",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_heart_disease, class: "custom-control-input" %>
          <%= form.label :is_heart_disease,
          "Sakit Jantung",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_kidney, class: "custom-control-input" %>
          <%= form.label :is_kidney,
          "Gangguan Ginjal Kronik",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_neurology, class: "custom-control-input" %>
          <%= form.label :is_neurology,
          "Gangguan Syaraf/Neurologi",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_organ_donor_recipient, class: "custom-control-input" %>
          <%= form.label :is_organ_donor_recipient,
          "Penerima Donor Organ",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_pregnant, class: "custom-control-input" %>
          <%= form.label :is_pregnant,
          "Kehamilan, semester?",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_first_semester_pregnant, class: "custom-control-input" %>
          <%= form.label :is_first_semester_pregnant,
          "Pertama",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_second_semester_pregnant, class: "custom-control-input" %>
          <%= form.label :is_second_semester_pregnant,
          "Kedua",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_third_semester_pregnant, class: "custom-control-input" %>
          <%= form.label :is_third_semester_pregnant,
          "Ketiga",
          class: "custom-control-label" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :estimated_birth,
    "Estimasi Kelahiran",
    class: "form-control-label" %>
    <%= form.text_field :estimated_birth,
    class: "form-control datepicker" %>
  </div>
  <hr class="my-2">
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <%= form.check_box :is_influenza_vaccine, class: "custom-control-input" %>
      <%= form.label :is_influenza_vaccine,
      "Kontak telah divaksinasi influenza dalam waktu 12 bulan sebelum kontak dengan kasus primer, apabila ya...",
      class: "custom-control-label" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :date_of_influenza_vaccine,
        "Tanggal Vaksinasi",
        class: "form-control-label" %>
        <%= form.text_field :date_of_influenza_vaccine,
        class: "form-control datepicker" %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :influenza_vaccine_in_the_country,
        "Negara tempat vaksinasi",
        class: "form-control-label" %>
        <%= form.text_field :influenza_vaccine_in_the_country,
        class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_pvc_vaccine, class: "custom-control-input" %>
          <%= form.label :is_pvc_vaccine,
          "Kontak telah divaksinasi PVC, apabila Ya",
          class: "custom-control-label" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :date_of_pvc_vaccine,
        "Tanggal Vaksinasi",
        class: "form-control-label" %>
        <%= form.text_field :date_of_pvc_vaccine,
        class: "form-control datepicker" %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
