<p id="notice"><%= notice %></p>

<p>
  <strong>Is cancer:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_cancer %>
</p>

<p>
  <strong>Is diabetes:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_diabetes %>
</p>

<p>
  <strong>Is ppok:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_ppok %>
</p>

<p>
  <strong>Is hiv:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_hiv %>
</p>

<p>
  <strong>Is liver:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_liver %>
</p>

<p>
  <strong>Is obesity:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_obesity %>
</p>

<p>
  <strong>Is asthma:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_asthma %>
</p>

<p>
  <strong>Is blood disorder:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_blood_disorder %>
</p>

<p>
  <strong>Is heart disease:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_heart_disease %>
</p>

<p>
  <strong>Is kidney:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_kidney %>
</p>

<p>
  <strong>Is neurology:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_neurology %>
</p>

<p>
  <strong>Is organ donor recipient:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_organ_donor_recipient %>
</p>

<p>
  <strong>Is pregnant:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_pregnant %>
</p>

<p>
  <strong>Is first semester pregnant:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_first_semester_pregnant %>
</p>

<p>
  <strong>Is second semester pregnant:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_second_semester_pregnant %>
</p>

<p>
  <strong>Is third semester pregnant:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_third_semester_pregnant %>
</p>

<p>
  <strong>Estimated birth:</strong>
  <%= @lampiran_eleven_comorbid_condition.estimated_birth %>
</p>

<p>
  <strong>Is influenza vaccine:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_influenza_vaccine %>
</p>

<p>
  <strong>Date of influenza vaccine:</strong>
  <%= @lampiran_eleven_comorbid_condition.date_of_influenza_vaccine %>
</p>

<p>
  <strong>Influenza vaccine in the country:</strong>
  <%= @lampiran_eleven_comorbid_condition.influenza_vaccine_in_the_country %>
</p>

<p>
  <strong>Is pvc vaccine:</strong>
  <%= @lampiran_eleven_comorbid_condition.is_pvc_vaccine %>
</p>

<p>
  <strong>Date of pvc vaccine:</strong>
  <%= @lampiran_eleven_comorbid_condition.date_of_pvc_vaccine %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_comorbid_condition_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_comorbid_condition) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_comorbid_conditions_path(@lampiran_eleven_close_contact_information) %>
