<%= form_with(model: main_job_type, local: true) do |form| %>
  <% if main_job_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_job_type.errors.count, "error") %> prohibited this main_job_type from being saved:</h2>

      <ul>
      <% main_job_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :job_type %>
    <%= form.text_field :job_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
