<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @l_six_f_hospital_dest.hospital %>
</p>

<p>
  <strong>City:</strong>
  <%= @l_six_f_hospital_dest.city %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @l_six_f_hospital_dest.visit_date %>
</p>

<p>
  <strong>Province city:</strong>
  <%= @l_six_f_hospital_dest.province_city %>
</p>

<%= link_to 'Edit', edit_l_six_f_hospital_dest_path(@l_six_f_hospital_dest) %> |
<%= link_to 'Back', l_six_f_hospital_dests_path %>
