<p id="notice"><%= notice %></p>

<p>
  <strong>Citizen association:</strong>
  <%= @main_citizen_association.citizen_association %>
</p>

<p>
  <strong>Main sub district:</strong>
  <%= @main_citizen_association.sub_district.sub_district %>
</p>

<%= link_to 'Edit', edit_main_province_city_district_sub_district_citizen_association_path(@main_province,@main_city,@main_district,@main_sub_district,@main_citizen_association) %> |
<%= link_to 'Back', main_province_city_district_sub_district_citizen_associations_path(@main_province,@main_city,@main_district,@main_sub_district) %>
