<%= content_for :judul_page do %>
  Informasi Klinis
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to l_six_firsts_path do %>
            <%= icon("fas", "file-alt") %>
          <% end %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to 'Form 6', @l_six_first %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">B</li>
    </ol>
<% end %>
<% content_for :header_button do%>
    <%= link_to 'Back', 
        @l_six_first, 
        class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
    <div class="container-fluid mt--6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">B. Informasi Klinis Edit</h3>
            </div>
            <div class="card-body">
                <%= render 'form', l_six_second: @l_six_second %>
            </div>
        </div>
    </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>