<p id="notice"><%= notice %></p>

<p>
  <strong>L six first:</strong>
  <%= @l_six_second.l_six_first %>
</p>

<p>
  <strong>Main hospital:</strong>
  <%= @l_six_second.main_hospital %>
</p>

<p>
  <strong>Since date symptom:</strong>
  <%= @l_six_second.since_date_symptom %>
</p>

<p>
  <strong>Fever temperature:</strong>
  <%= @l_six_second.fever_temperature %>
</p>

<p>
  <strong>History fever:</strong>
  <%= @l_six_second.history_fever %>
</p>

<p>
  <strong>Cough:</strong>
  <%= @l_six_second.cough %>
</p>

<p>
  <strong>Cold:</strong>
  <%= @l_six_second.cold %>
</p>

<p>
  <strong>Sore throat:</strong>
  <%= @l_six_second.sore_throat %>
</p>

<p>
  <strong>Headache:</strong>
  <%= @l_six_second.headache %>
</p>

<p>
  <strong>Weak:</strong>
  <%= @l_six_second.weak %>
</p>

<p>
  <strong>Muscle ache:</strong>
  <%= @l_six_second.muscle_ache %>
</p>

<p>
  <strong>Nausea vomitting:</strong>
  <%= @l_six_second.nausea_vomitting %>
</p>

<p>
  <strong>Abdominal pain:</strong>
  <%= @l_six_second.abdominal_pain %>
</p>

<p>
  <strong>Diarrhea:</strong>
  <%= @l_six_second.diarrhea %>
</p>

<p>
  <strong>Other symptom:</strong>
  <%= @l_six_second.other_symptom %>
</p>

<p>
  <strong>Is pregnant:</strong>
  <%= @l_six_second.is_pregnant %>
</p>

<p>
  <strong>Is diabetes:</strong>
  <%= @l_six_second.is_diabetes %>
</p>

<p>
  <strong>Is heart disease:</strong>
  <%= @l_six_second.is_heart_disease %>
</p>

<p>
  <strong>Is hypertention:</strong>
  <%= @l_six_second.is_hypertention %>
</p>

<p>
  <strong>Is malignancy:</strong>
  <%= @l_six_second.is_malignancy %>
</p>

<p>
  <strong>Is kidney disease:</strong>
  <%= @l_six_second.is_kidney_disease %>
</p>

<p>
  <strong>Is liver disease:</strong>
  <%= @l_six_second.is_liver_disease %>
</p>

<p>
  <strong>Is immune disease:</strong>
  <%= @l_six_second.is_immune_disease %>
</p>

<p>
  <strong>Is ppok:</strong>
  <%= @l_six_second.is_ppok %>
</p>

<p>
  <strong>Other condition:</strong>
  <%= @l_six_second.other_condition %>
</p>

<p>
  <strong>Is being treated hospital:</strong>
  <%= @l_six_second.is_being_treated_hospital %>
</p>

<p>
  <strong>Last date hospital:</strong>
  <%= @l_six_second.last_date_hospital %>
</p>

<p>
  <strong>Room treated:</strong>
  <%= @l_six_second.room_treated %>
</p>

<p>
  <strong>Is treated icu:</strong>
  <%= @l_six_second.is_treated_icu %>
</p>

<p>
  <strong>Is intubation:</strong>
  <%= @l_six_second.is_intubation %>
</p>

<p>
  <strong>Is emco:</strong>
  <%= @l_six_second.is_emco %>
</p>

<p>
  <strong>Last hospital:</strong>
  <%= @l_six_second.last_hospital %>
</p>

<p>
  <strong>Last status patient:</strong>
  <%= @l_six_second.last_status_patient %>
</p>

<p>
  <strong>Date of die:</strong>
  <%= @l_six_second.date_of_die %>
</p>

<p>
  <strong>Pneumonia:</strong>
  <%= @l_six_second.pneumonia %>
</p>

<p>
  <strong>Ardc:</strong>
  <%= @l_six_second.ardc %>
</p>

<p>
  <strong>Other diagnose:</strong>
  <%= @l_six_second.other_diagnose %>
</p>

<p>
  <strong>Have etiologi:</strong>
  <%= @l_six_second.have_etiologi %>
</p>

<p>
  <strong>Explain etiologi:</strong>
  <%= @l_six_second.explain_etiologi %>
</p>

<%= link_to 'Edit', edit_l_six_second_path(@l_six_second) %> |
<%= link_to 'Back', l_six_seconds_path %>
