<%= form_with(model: l_six_first, local: true) do |form| %>
  <% if l_six_first.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_first.errors.count, "error") %> prohibited this l_six_first from being saved:</h2>

      <ul>
      <% l_six_first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :main_patient_id, "No.KTP", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :no_identity,
            {:prompt => "No. Identitas/KTP"},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% else %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :no_identity,
            {:prompt => "No. Identitas/KTP",
            selected: @l_six_first.patient.slug},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% end %>
        </div>
        <div class="form-group">
        <%= form.label :telegram_message_ili_reporter_id, "No. Laporan ISPA", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:telegram_message_ili_reporter_id,
            @data_report_telegrams,
            :slug,
            :message_select,
            {:prompt => "Pilih"},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% else %>
          <%= form.collection_select(:telegram_message_ili_reporter_id,
            @data_report_telegrams,
            :slug,
            :message_select,
            {:prompt => "Pilih",
            selected: @l_six_first.message_ili_reporter.slug},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :job, "Pekerjaan", class: "form-control-label" %>
        <%= form.text_field :job, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :interview_date, "Tanggal Wawancara", class: "form-control-label" %>
        <%= form.text_field :interview_date, class: "form-control datepicker", autocomplete: "off" %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
