<%= form_with(model: l_six_first, remote: true) do |form| %>
  <% if l_six_first.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_first.errors.count, "error") %> prohibited this l_six_first from being saved:</h2>

      <ul>
      <% l_six_first.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :main_patient_id, "No.KTP", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :noidentity_with_name,
            {:prompt => "No. Identitas/KTP"},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% else %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :noidentity_with_name,
            {:prompt => "No. Identitas/KTP",
            selected: @l_six_first.patient.slug},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% end %>
        <div class="invalid-feedback"></div>
      </div>
      <div class="form-group">
        <%= form.label :telegram_message_ili_reporter_id, "No. Laporan ISPA", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") || @l_six_first.message_ili_reporter.nil? %>
          <%= form.collection_select(:telegram_message_ili_reporter_id,
            @data_report_telegrams,
            :slug,
            :message_select,
            {:prompt => "Pilih"},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% else %>
          <%= form.collection_select(:telegram_message_ili_reporter_id,
            @data_report_telegrams,
            :slug,
            :message_select,
            {:prompt => "Pilih",
            selected: @l_six_first.message_ili_reporter.slug},
            {class: "form-control",
            "data-toggle": "select"}) %>
        <% end %>
      </div>
      <div class="form-group">
          <%= form.label :job, "Pekerjaan", class: "form-control-label" %>
          <%= form.text_field :job, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :interview_date, "Tanggal Wawancara", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") || @l_six_first.interview_date.nil? %>
          <%= form.text_field :interview_date, class: "form-control datepicker", autocomplete: "off" %>
        <% else %>
          <%= form.text_field :interview_date, class: "form-control datepicker", autocomplete: "off", value: @l_six_first.interview_date %> 
        <% end %>
      </div>
      <div class="form-group">
          <%= form.label :criteria,
            "Kriteria",
            class: "form-control-label" %>
          <div class="custom-control custom-radio">
            <%= form.radio_button :criteria, :pdp,
              checked: (l_six_first.criteria == "Pasien Dalam Pengawasan" ? true : false),
              id: "criteria_pdp",
              class: "custom-control-input" %>
            <label for="criteria_pdp" class="custom-control-label">Pasien Dalam Pengawasan</label>
          </div>
          <div class="custom-control custom-radio">
            <%= form.radio_button :criteria, :odp,
              checked: (l_six_first.criteria == "Orang Dalam Pengawasan" ? true : false),
              id: "criteria_odp",
              class: "custom-control-input" %>
            <label for="criteria_odp" class="custom-control-label">Orang Dalam Pengawasan</label>
          </div>
          <div class="custom-control custom-radio">
            <%= form.radio_button :criteria, :kp,
              checked: (l_six_first.criteria == "Kasus Probabel" ? true : false),
              id: "criteria_kp",
              class: "custom-control-input" %>
            <label for="criteria_kp" class="custom-control-label">Kasus Probabel</label>
          </div>
          <div class="custom-control custom-radio">
            <%= form.radio_button :criteria, :kk,
              checked: (l_six_first.criteria == "Kasus Konfirmasi" ? true : false),
              id: "criteria_kk",
              class: "custom-control-input" %>
            <label for="criteria_kk" class="custom-control-label">Kasus Konfirmasi</label>
          </div>
          <div class="custom-control custom-radio">
            <%= form.radio_button :criteria, :selesai,
              checked: (l_six_first.criteria == "Selesai Pemantauan" ? true : false),
              id: "criteria_selesai",
              class: "custom-control-input" %>
            <label for="criteria_selesai" class="custom-control-label">Selesai Pemantauan</label>
          </div>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
