<p id="notice"><%= notice %></p>

<h1>L Six Firsts</h1>

<table>
  <thead>
    <tr>
      <th>Main patient</th>
      <th>User</th>
      <th>Interview date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @l_six_firsts.each do |l_six_first| %>
      <tr>
        <td><%= l_six_first.main_patient %></td>
        <td><%= l_six_first.user %></td>
        <td><%= l_six_first.interview_date %></td>
        <td><%= link_to 'Show', l_six_first %></td>
        <td><%= link_to 'Edit', edit_l_six_first_path(l_six_first) %></td>
        <td><%= link_to 'Destroy', l_six_first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New L Six First', new_l_six_first_path %>
