<% content_for :search_form do %>
  <%= search_form_for @search, url: l_six_firsts_path, class: "navbar-search navbar-search-dark form-inline mr-sm-3", id: "navbar-search-main" do |f| %>
      <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!-- <input class="form-control" placeholder="Search" type="text"> -->
              <%= f.search_field :patient_no_identity_or_patient_name_or_interview_date_cont, class: "form-control", placeholder: "Cari ...", autocomplete: "off" %>
          </div>
      </div>
      <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
      </button>
  <% end %>
<% end %>
<%= content_for :judul_page do %>
  Form 6
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to l_six_firsts_path do %>
            <%= icon("fas", "file-alt") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Formulir Penyelidikan Epidemiologi (Covid-19)</li>
    </ol>
<% end %>
<% content_for :header_button do%>
  <%= link_to 'New', 
    new_l_six_first_path, 
    class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Formulir Penyelidikan Epidemiologi Corona Virus Disease (Covid-19)</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Main patient</th>
              <th>User</th>
              <th>Interview date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @l_six_firsts.each do |l_six_first| %>
            <tr>
              <td><%= l_six_first.patient.name %></td>
              <td><%= l_six_first.user.name %></td>
              <td><%= l_six_first.interview_date %></td>
              <td class="text-right">
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                    <%= link_to 'Show', 
                      l_six_first,
                      class: "dropdown-item" %>
                    <%= link_to 'Edit', 
                      edit_l_six_first_path(l_six_first),
                      class: "dropdown-item" %>
                    <%= link_to 'Delete', 
                      l_six_first, 
                      method: :delete, 
                      data: { confirm: 'Are you sure?' },
                      class: "dropdown-item" %>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <%# paginate @l_six_firsts %>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>