<% content_for :judul_page do %>Form 6<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to @l_six_first do %>
            <%= icon("fas", "file-alt") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Form 6</li>
    </ol>
<% end %>
<% content_for :header_button do%>
    <%= link_to 'Back',
        l_six_firsts_path,
        class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <%# A %>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Pewawancara</h3>
              </div>
              <div class="col-4 text-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h5 text-muted">Nama Fasnyakes</span>
                <span class="d-block h4">
                  -
                </span>
                <span class="h5 text-muted">Nama</span>
                <span class="d-block h4"><%= @l_six_first.user.username %></span>
                <span class="h5 text-muted">Tempat Tugas</span>
                <span class="d-block h4">
                  <% if !@l_six_first.user.dinkes_province.nil? %>
                    <%= @l_six_first.user.dinkes_province.dinkes_province %>
                  <% elsif !@l_six_first.user.dinkes_region.nil? %>
                    <%= @l_six_first.user.dinkes_region.dinkes_region %>
                  <% elsif !@l_six_first.user.hospital.nil? %>
                    <%= @l_six_first.user.hospital.hospital %>
                  <% elsif !@l_six_first.user.public_health_center.nil? %>
                    <%= @l_six_first.user.public_health_center.public_health_center %>
                  <% elsif !@l_six_first.user.hospital.nil? %>
                    <%= @l_six_first.user.hospital.hospital %>
                  <% else %>
                    <%= '-' %>
                  <% end %>
                </span>
                <span class="h5 text-muted">HP Pewawancara</span>
                <span class="d-block h4">
                <% if @l_six_first.user.phone_number.nil? %>
                  -
                <% else %>
                  <%= @l_six_first.user.phone_number %>
                <% end %>
                </span>
                <span class="h5 text-muted">Tanggal Wawancara</span>
                <span class="d-block h4">
                <% if @l_six_first.interview_date.nil? %>
                  -
                <% else %>
                  <%= @l_six_first.interview_date.strftime("%d/%m/%Y") %>
                <% end %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">A. Identitas Pasien</h3>
              </div>
              <div class="col-4 text-right">
              <% if policy('LSix::First'.to_sym).edit? %>
                <%= link_to 'Edit',
                  edit_l_six_first_path(@l_six_first),
                  class: "btn btn-sm btn-neutral" %>
              <% end %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <span class="h5 text-muted">Nama Pasien</span>
                <span class="d-block h4"><%= @l_six_first.patient.name %></span>

                <span class="h5 text-muted">Nomor ID</span>
                <span class="d-block h4"><%= @l_six_first.patient.id %></span>

                <span class="h5 text-muted">Nama Ortu/KK</span>
                <span class="d-block h4">
                <% if @l_six_first.patient.name_of_parent.nil? %>
                  -
                <% else %>
                  <%= @l_six_first.patient.name_of_parent %>
                <% end %>
                </span>

                <span class="h5 text-muted">Tanggal Lahir</span>
                <span class="d-block h4">
                <% if @l_six_first.patient.date_of_birth.nil? %>
                  -
                <% else %>
                  <%= @l_six_first.patient.date_of_birth.strftime("%d/%m/%Y") %>
                <% end %>
                </span>
                <span class="h5 text-muted">Usia</span>
                <span class="d-block h4">
                  <% d = @l_six_first.patient.date_of_birth.to_date %>
                  <% year = ((Time.zone.now - d.to_time) / 1.year.seconds).floor %>
                  <% month = (((Time.zone.now - d.to_time) / 1.month.seconds).floor) % 12 %>
                  <%= "#{year} Tahun, #{month} Bulan" %>
                </span>

                <span class="h5 text-muted">Jenis Kelamin</span>
                <span class="d-block h4">
                  <%= @l_six_first.patient.gender == 'Male' ? 'Laki-laki' : 'Perempuan' %>
                </span>


                <span class="h5 text-muted">Pekerjaan</span>
                <span class="d-block h4">
                <% if @l_six_first.job.nil? %>
                  -
                <% else %>
                  <%= @l_six_first.job %>
                <% end %>
                </span>
              </div>
              <div class="col-md-6">

                <span class="h5 text-muted">Alamat</span>
                <span class="d-block h4"><%= @l_six_first.patient.residence_address %></span>

                <span class="h5 text-muted">RT/RW</span>
                <span class="d-block h4">
                  <%= @l_six_first.patient.neighborhood_association.neighborhood_association %>/
                  <%= @l_six_first.patient.citizen_association.citizen_association %>
                </span>

                <span class="h5 text-muted">Desa/Kelurahan</span>
                <span class="d-block h4"><%= @l_six_first.patient.sub_district.sub_district %></span>

                <span class="h5 text-muted">Kecamatan</span>
                <span class="d-block h4"><%= @l_six_first.patient.district.district %></span>

                <span class="h5 text-muted">Kabupaten/Kota</span>
                <span class="d-block h4"><%= @l_six_first.patient.city.city %></span>

                <span class="h5 text-muted">Telepon/HP</span>
                <span class="d-block h4"><%= @l_six_first.patient.phone_number %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# B %>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8"><h3 class="mb-0">B. Informasi Klinis</h3></div>
              <div class="col-4 text-right">
                <% if @l_six_first.ls_second.nil? %>
                    <% if policy('LSix::Second'.to_sym).new? %>
                      <%= link_to 'Add',
                        new_l_six_first_second_path(@l_six_first),
                        class: 'btn btn-sm btn-neutral' %>
                    <% end %>
                <% else %>
                    <% if policy('LSix::Second'.to_sym).edit? %>
                      <%= link_to 'Edit',
                        edit_l_six_first_second_path(@l_six_first,@l_six_first.ls_second),
                        class: 'btn btn-sm btn-neutral' %>
                    <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="card-body">
            <% if !@l_six_first.ls_second.nil? %>
              <div class="row">
                <div class="col-md-6">
                  <span class="h5 text-muted">Tanggal Pertama Kali Timbul Gejala (Onset)</span>
                  <span class="d-block h4">
                    <% if @l_six_first.ls_second.since_date_symptom.nil? %>
                      -
                    <% else %>
                      <%= @l_six_first.ls_second.since_date_symptom.strftime("%d/%m/%Y") %>
                    <% end %>
                  </span>

                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.history_fever %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Riwayat Demam,
                                <% if @l_six_first.ls_second.fever_temperature %>
                                  <%= @l_six_first.ls_second.fever_temperature %>
                                <% else %>
                                  -
                                <% end %>
                                °C
                              </small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.cough == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.cough == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Batuk</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.cold == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.cold == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Pilek</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.sore_throat == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.sore_throat == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Sakit Tenggorokan</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.out_of_breath == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.out_of_breath == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Sesak Napas</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.headache == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.headache == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Sakit Kepala</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.weak == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.weak == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Lemah (malaisa)</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.muscle_ache == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.muscle_ache == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Nyeri Otot</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.nausea_vomitting == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.nausea_vomitting == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Mual atau Muntah</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.abdominal_pain == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.abdominal_pain == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Nyeri Abdomen</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.diarrhea == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.diarrhea == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Diare</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <br>

                  <h5 class="h4 card-title mb-0">Kondisi Penyerta</h5>
                  <hr class="my-2">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_pregnant %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Hamil</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_diabetes %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Diabetes</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_heart_disease %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Penyakit Jantung</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_hypertention %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Hipertensi</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_malignancy %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Keganasan</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_immune_disease %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Gangguan Imunologi</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_kidney_disease %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Gagal Ginjal Kronis</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_liver_disease %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Gagal Hati Kronis</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_ppok %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>PPOK</small>
                            </div>
                          </div>
                        </li>
                      </ul>

                      <span class="h5 text-muted">Lainnya</span>
                      <span class="d-block h4">
                        <% if @l_six_first.ls_second.other_condition.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.other_condition %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                  <br class="hide-big-screen">
                </div>

                <div class="col-md-6">
                  <h5 class="h4 card-title mb-0">Pengalaman dirawat</h5>
                  <hr class="my-2">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="h5">Apakah Pasien dirawat di Rumah Sakit ?</span>
                      <% if @l_six_first.ls_second.is_being_treated_hospital %>
                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                      <% else %>
                        <span class="text-danger text-sm"><%=icon("fas", "times")%></span>
                      <% end %>
                      <br><br>
                      <span class="h5 text-muted">Nama RS Terakhir</span>
                      <span class="d-block h4 mb-4">
                        <% if @l_six_first.ls_second.hospital.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.hospital.hospital %>
                        <% end %>
                      </span>
                      <span class="h5 text-muted">Tanggal Masuk</span>
                      <span class="d-block h4 mb-4">
                        <% if @l_six_first.ls_second.last_date_hospital.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.last_date_hospital.strftime("%d/%m/%Y") %>
                        <% end %>
                      </span>
                      <span class="h5 text-muted">Ruang Rawat</span>
                      <span class="d-block h4 mb-4">
                        <% if @l_six_first.ls_second.room_treated.empty? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.room_treated %>
                        <% end %>
                      </span>
                    </div>
                    <div class="col-md-6">
                      <span class="h5">Tindakan Perawatan : </span>
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_treated_icu %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>dirawat di ICU</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_intubation %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Intubasi</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.is_emco %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Penggunaan EMCO</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <br>
                      <span class="h5 text-muted">Nama RS Sebelumnya</span>
                      <span class="d-block h4 mb-4">
                        <% if @l_six_first.ls_second.hospital.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.hospital.hospital %>
                        <% end %>
                      </span>
                    </div>
                  </div>
                  <h5 class="h4 card-title mb-0">Status Pasien terakhir</h5>
                  <hr class="my-2">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="h5 text-muted">Status Pasien</span>
                      <span class="d-block h4 mb-4">
                        <% if @l_six_first.ls_second.last_status_patient.empty? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_second.last_status_patient %>
                        <% end %>
                      </span>
                    </div>
                    <div class="col-md-6">
                      <% if @l_six_first.ls_second.last_status_patient == "meninggal" %>
                        <span class="h5 text-muted">Nama RS Sebelumnya</span>
                        <span class="d-block h4 mb-4">
                          <% if @l_six_first.ls_second.date_of_die.nil? %>
                            -
                          <% else %>
                            <%= @l_six_first.ls_second.date_of_die.strftime("%d/%m/%Y") %>
                          <% end %>
                        </span>
                      <% end %>
                    </div>
                  </div>
                  <h5 class="h4 card-title mb-0">Diagnosis</h5>
                  <hr class="my-2">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.pneumonia == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.pneumonia == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Pneumonia (Klinis atau Radiologi)</small>
                            </div>
                          </div>
                        </li>

                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.ardc == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.ardc == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>ARDS (Acute Respiratory Distress Syndrome)</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                       <span class="h5 text-muted">Diagnosa Lainnya</span>
                        <span class="d-block h4 mb-4">
                          <% if @l_six_first.ls_second.other_diagnose.empty? %>
                            -
                          <% else %>
                            <%= @l_six_first.ls_second.other_diagnose %>
                          <% end %>
                        </span>
                    </div>
                  </div>
                  <hr class="my-2">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="list-group list-group-flush list">
                        <li class="list-group-item px-0 py-2 border-0">
                          <div class="row">
                            <div class="col-auto pt-1">
                              <% if @l_six_first.ls_second.have_etiologi == "ya" %>
                                <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_second.have_etiologi == "tidak_tahu" %>
                                <span class="text-gray text-sm"><%=icon("fas", "question")%>&nbsp;</span>
                              <% else %>
                                <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                              <% end %>
                            </div>
                            <div class="col ml--4">
                              <small>Apakah pasien mempunyai diagnosis atau etiologi lain untuk penyakit pernafasannya?</small>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                       <span class="h5 text-muted">Diagnosis/Etiologi Lain</span>
                        <span class="d-block h4 mb-4">
                          <% if @l_six_first.ls_second.other_diagnose.empty? %>
                            -
                          <% else %>
                            <%= @l_six_first.ls_second.other_diagnose %>
                          <% end %>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if !@l_six_first.ls_second.nil? %>
      <%# C %>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8"><h3 class="mb-0">C. Informasi Pemeriksaan Penunjang</h3></div>
                <div class="col-4 text-right">
                  <% if @l_six_first.ls_third.nil? %>
                    <% if policy('LSix::Third'.to_sym).new? %>
                        <%= link_to 'Add',
                          new_l_six_first_third_path(@l_six_first),
                          class: 'btn btn-sm btn-neutral' %>
                    <% end %>
                  <% else %>
                      <% if policy('LSix::Third'.to_sym).edit? %>
                        <%= link_to 'Edit',
                          edit_l_six_first_third_path(@l_six_first,@l_six_first.ls_third),
                          class: 'btn btn-sm btn-neutral' %>
                      <% end %>
                      <% if policy('LSix::TCheckother'.to_sym).new? %>
                        <%= link_to 'Add Other',
                          new_l_six_first_third_t_checkother_path(@l_six_first,@l_six_first.ls_third,@l_six_first.ls_third.ls_t_checkothers),
                          class: 'btn btn-sm btn-neutral' %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <% if !@l_six_first.ls_third.nil? %>
              <div class="table-responsive">
                <table class="table align-items-center">
                  <thead class="thead-light">
                    <tr>
                      <th>Jenis Pemeriksaan/Spesimen</th>
                      <th class="text-center">Tanggal Pengambilan Spesimen</th>
                      <th>Tempat Pemeriksaan</th>
                      <th>Hasil</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Nasopharyngeal (NP) Swab</td>
                      <td class="text-center" >
                        <% if @l_six_first.ls_third.date_nasopharyngeal.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.date_nasopharyngeal.strftime("%d/%m/%Y") %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.place_nasopharyngeal.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.place_nasopharyngeal %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.result_nasopharyngeal.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.result_nasopharyngeal %>
                        <% end %>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Oroharyngeal (NP) Swab</td>
                      <td class="text-center">
                        <% if @l_six_first.ls_third.date_oropharyngeal.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.date_oropharyngeal.strftime("%d/%m/%Y") %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.place_oropharyngeal.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.place_oropharyngeal %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.result_oropharyngeal.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.result_oropharyngeal %>
                        <% end %>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Sputum</td>
                      <td class="text-center">
                        <% if @l_six_first.ls_third.date_sputum.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.date_sputum.strftime("%d/%m/%Y") %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.place_sputum.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.place_sputum %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.result_sputum.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.result_sputum %>
                        <% end %>
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Serum</td>
                      <td class="text-center">
                        <% if @l_six_first.ls_third.date_serum.nil? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.date_serum.strftime("%d/%m/%Y") %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.place_serum.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.place_serum %>
                        <% end %>
                      </td>
                      <td>
                        <% if @l_six_first.ls_third.result_sputum.blank? %>
                          -
                        <% else %>
                          <%= @l_six_first.ls_third.result_sputum %>
                        <% end %>
                      </td>
                      <td></td>
                    </tr>
                    <% if @l_six_first.ls_third.ls_t_checkothers.any? %>
                      <tr>
                        <th colspan="5" class="text-center th-divider">Pemeriksaan Lainnya</th>
                      </tr>
                      <% @l_six_first.ls_third.ls_t_checkothers.each do |others| %>
                        <tr>
                          <td><%= others.other_check %></td>
                          <td class="text-center"><%= others.date_check_other %></td>
                          <td><%= others.place_check_other %></td>
                          <td><%= others.result_check_other %></td>
                          <td class="table-actions text-right">
                              <% if policy('LSix::TCheckother'.to_sym).edit? %>
                                <%= link_to edit_l_six_first_third_t_checkother_path(
                                  @l_six_first,
                                  @l_six_first.ls_third,
                                  others
                                ),
                                class: 'table-action ' do %>
                                  <% icon('fas', 'edit') %>
                                <% end %>
                              <% end %>
                              <% if policy('LSix::TCheckother'.to_sym).destroy? %>
                                <%= link_to l_six_first_third_t_checkother_path(
                                  @l_six_first,
                                  @l_six_first.ls_third,
                                  others
                                ), method: :delete, data: { confirm: 'Are you sure?' },
                                class: 'table-action' do %>
                                  <% icon('fas', 'trash') %>
                                <% end %>
                              <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <% if !@l_six_first.ls_third.nil? %>
        <%# 4 %>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-8"><h3 class="mb-0">D. Faktor Kontak/Paparan</h3></div>
                  <div class="col-4 text-right">
                    <% if @l_six_first.ls_fourth.nil? %>
                        <% if policy('LSix::Fourth'.to_sym).new? %>
                          <%= link_to 'Add',
                            new_l_six_first_fourth_path(
                              @l_six_first
                            ),
                            class: 'btn btn-sm btn-neutral' %>
                        <% end %>
                    <% else %>
                        <% if policy('LSix::Fourth'.to_sym).edit? %>
                          <%= link_to 'Edit',
                            edit_l_six_first_fourth_path(
                              @l_six_first,
                              @l_six_first.ls_fourth
                            ),
                            class: 'btn btn-sm btn-neutral' %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if !@l_six_first.ls_fourth.nil? %>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <ul class="list-group list-group-flush list my">
                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, apakah memiliki riwayat perjalanan keluar negeri ?
                              </span>
                              <% if @l_six_first.ls_fourth.abroad == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.abroad == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                              <% elsif @l_six_first.ls_fourth.abroad == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.abroad == "ya" %>
                                <% if policy('LSix::FAboardDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_aboard_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_aboard_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Negara</th>
                                    <th>Kota</th>
                                    <th class="text-center">Tgl Perjalanan</th>
                                    <th class="text-center">Tgl Tiba di Indonesia</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_aboard_dests.each do |ad| %>
                                  <tr>
                                    <td><%= ad.country %></td>
                                    <td><%= ad.city %></td>
                                    <td class="text-center"><%= ad.travel_date.nil? ? "-" : ad.travel_date.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center"><%= ad.date_arrive.nil? ? "-" : ad.date_arrive.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                      <% if policy('LSix::FAboardDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_aboard_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            ad
                                          ),
                                          class: 'table-action ' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                      <% end %>
                                      <% if policy('LSix::FAboardDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_aboard_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            ad
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                      <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, apakah memiliki riwayat perjalanan ke area transmisi lokal ?
                              </span>
                              <% if @l_six_first.ls_fourth.out_town == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.out_town == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                              <% elsif @l_six_first.ls_fourth.out_town == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.out_town == "ya" %>
                                  <% if policy('LSix::FOutTownDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_out_town_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                  <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_out_town_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Provinsi</th>
                                    <th>Kota</th>
                                    <th class="text-center">Tgl Perjalanan</th>
                                    <th class="text-center">Tgl Tiba di tempat sekarang</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_out_town_dests.each do |town| %>
                                  <tr>
                                    <td><%= town.province %></td>
                                    <td><%= town.city %></td>
                                    <td class="text-center"><%= town.travel_date.nil? ? "-" : town.travel_date.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center"><%= town.date_arrive.nil? ? "-" : town.date_arrive.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                        <% if policy('LSix::FOutTownDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_out_town_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            town
                                          ),
                                          class: 'table-action' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                        <% if policy('LSix::FOutTownDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_out_town_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            town
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, apakah pasien memiliki riwayat berkunjung ke fasilitas kesehatan,
                                baik sebagai pasien, pekerja atau berkunjung ?
                              </span>
                              <% if @l_six_first.ls_fourth.hospital == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.hospital == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                              <% elsif @l_six_first.ls_fourth.hospital == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.hospital == "ya" %>
                                <% if policy('LSix::FHospitalDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_hospital_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_hospital_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Nama RS</th>
                                    <th>Kota</th>
                                    <th>Provinsi/Negara</th>
                                    <th class="text-center">Tgl Kunjungan</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_hospital_dests.each do |hospital| %>
                                  <tr>
                                    <td><%= hospital.hospital %></td>
                                    <td><%= hospital.city %></td>
                                    <td><%= hospital.province_city %></td>
                                    <td class="text-center"><%= hospital.visit_date.nil? ? "-" : hospital.visit_date.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                        <% if policy('LSix::FHospitalDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_hospital_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            hospital
                                          ),
                                          class: 'table-action' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                        <% if policy('LSix::FHospitalDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_hospital_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            hospital
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, mengunjungi pasar hewan ?
                              </span>
                              <% if @l_six_first.ls_fourth.animal_market == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.animal_market == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                              <% elsif @l_six_first.ls_fourth.animal_market == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.animal_market == "ya" %>
                                  <% if policy('LSix::FAnimalDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_animal_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                  <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_animal_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Nama Lokasi</th>
                                    <th>Kota</th>
                                    <th>Provinsi/Negara</th>
                                    <th class="text-center">Tgl Kunjungan</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_animal_dests.each do |animal| %>
                                  <tr>
                                    <td><%= animal.location %></td>
                                    <td><%= animal.city %></td>
                                    <td><%= animal.province_city %></td>
                                    <td class="text-center"><%= animal.visit_date.nil? ? "-" : animal.visit_date.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                        <% if policy('LSix::FAnimalDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_animal_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            animal
                                          ),
                                          class: 'table-action' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                        <% if policy('LSix::FAnimalDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_animal_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            animal
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, apakah memiliki kontak erat dengan pasien dalam pengawasan COVID-19 ?
                              </span>
                              <% if @l_six_first.ls_fourth.contact_pdp == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.contact_pdp == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                                <small>Tidak Tahu</small>
                              <% elsif @l_six_first.ls_fourth.contact_pdp == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.contact_pdp == "ya" %>
                                  <% if policy('LSix::FPdpDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_pdp_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                  <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_pdp_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Hubungan</th>
                                    <th class="text-center">Tgl Kontak Pertama</th>
                                    <th class="text-center">Tgl Kontak Terakhir</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_pdp_dests.each do |pdp| %>
                                  <tr>
                                    <td><%= pdp.name %></td>
                                    <td><%= pdp.address %></td>
                                    <td><%= pdp.relation %></td>
                                    <td class="text-center"><%= pdp.date_contact.nil? ? "-" : pdp.date_contact.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center"><%= pdp.last_date_contact.nil? ? "-" : pdp.last_date_contact.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                        <% if policy('LSix::FPdpDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_pdp_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            pdp
                                          ),
                                          class: 'table-action' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                        <% if policy('LSix::FPdpDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_pdp_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            pdp
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                        <li class="list-group-item px-0 border-0">
                          <div class="row align-items-center mb-2">
                            <div class="col">
                              <span class="h4 mb-0">
                                Dalam 14 hari sebelum sakit, apakah memiliki kontak erat dengan kasus konfirmasi COVID-19 ?
                              </span>
                              <% if @l_six_first.ls_fourth.contact_positive == "ya" %>
                                <span class="text-success"><%=icon("fas", "check")%></span>
                              <% elsif @l_six_first.ls_fourth.contact_positive == "tidak_tahu" %>
                                <span class="text-gray"><%=icon("fas", "question")%></span>
                              <% elsif @l_six_first.ls_fourth.contact_positive == "tidak" %>
                                <span class="text-danger"><%=icon("fas", "times")%></span>
                              <% end %>
                            </div>
                            <div class="col-auto">
                              <% if @l_six_first.ls_fourth.contact_positive == "ya" %>
                                  <% if policy('LSix::FPositiveDest'.to_sym).new? %>
                                    <%= link_to 'Add',
                                      new_l_six_first_fourth_f_positive_dest_path(
                                        @l_six_first,
                                        @l_six_first.ls_fourth
                                      ),
                                      class: "btn btn-sm btn-primary" %>
                                  <% end %>
                              <% end %>
                            </div>
                          </div>
                          <% if @l_six_first.ls_fourth.ls_f_positive_dests.any? %>
                            <div class="table-responsive">
                              <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Hubungan</th>
                                    <th class="text-center">Tgl Kontak Pertama</th>
                                    <th class="text-center">Tgl Kontak Terakhir</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @l_six_first.ls_fourth.ls_f_positive_dests.each do |pos| %>
                                  <tr>
                                    <td><%= pos.name %></td>
                                    <td><%= pos.address %></td>
                                    <td><%= pos.relation %></td>
                                    <td class="text-center"><%= pos.date_contact.nil? ? "-" : pos.date_contact.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center"><%= pos.last_date_contact.nil? ? "-" : pos.last_date_contact.strftime("%d/%m/%Y") %></td>
                                    <td class="table-actions text-right">
                                        <% if policy('LSix::FPositiveDest'.to_sym).edit? %>
                                          <%= link_to edit_l_six_first_fourth_f_positive_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            pos
                                          ),
                                          class: 'table-action' do %>
                                            <% icon('fas', 'edit', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                        <% if policy('LSix::FPositiveDest'.to_sym).destroy? %>
                                          <%= link_to l_six_first_fourth_f_positive_dest_path(
                                            @l_six_first,
                                            @l_six_first.ls_fourth,
                                            pos
                                          ), method: :delete, data: { confirm: 'Are you sure?' },
                                          class: 'table-action' do %>
                                            <% icon('fas', 'trash', class:'text-white') %>
                                          <% end %>
                                        <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>
                          <% end %>
                        </li>

                      </ul>
                      <hr class="my-2">
                      <span class="h4 mb-0"mt-3">
                        Apakah pasien termasuk cluster ISPA berat (demam dan pneumonia membutuhkan
                        perawatan Rumah Sakit) yang tidak diketahui penyebabnya dimana kasus
                        COVID-19 diperiksa ?
                      </h4>
                      <% if @l_six_first.ls_fourth.ispa_chronic == "ya" %>
                        <span class="text-success"><%=icon("fas", "check")%></span>
                      <% elsif @l_six_first.ls_fourth.ispa_chronic == "tidak_tahu" %>
                        <span class="text-gray"><%=icon("fas", "question")%></span>
                      <% elsif @l_six_first.ls_fourth.ispa_chronic == "tidak_tahu" %>
                        <span class="text-danger"><%=icon("fas", "times")%></span>
                      <% end %>
                      <div class="list-group list-group-flush">
                        <div class="list-group-item flex-column align-items-start py-0 px-0">
                          <h4 class="mt-3 mb-1">Alat Pelindung Diri (APD) yang dipakai : </h4>
                          <div class="row">
                            <div class="col-md-6">
                              <ul class="list-group list-group-flush list">
                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_gown %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Gown</small>
                                    </div>
                                  </div>
                                </li>

                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_medic_mask %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Masker Medis</small>
                                    </div>
                                  </div>
                                </li>

                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_gloves %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Sarung Tangan</small>
                                    </div>
                                  </div>
                                </li>

                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_n95_ffp2 %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Masker N95 FFP2</small>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-6">
                              <ul class="list-group list-group-flush list">
                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_n99_ffp3 %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Masker N99 FFP3</small>
                                    </div>
                                  </div>
                                </li>

                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.is_goggle %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Kacamata Pelindung (Google)</small>
                                    </div>
                                  </div>
                                </li>

                                <li class="list-group-item px-0 py-2 border-0">
                                  <div class="row">
                                    <div class="col-auto pt-1">
                                      <% if @l_six_first.ls_fourth.isn_apd %>
                                        <span class="text-success text-sm"><%=icon("fas", "check")%></span>
                                      <% else %>
                                        <span class="text-danger text-sm"><%=icon("fas", "times")%>&nbsp;</span>
                                      <% end %>
                                    </div>
                                    <div class="col ml--4">
                                      <small>Tidak Memakai APD</small>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>

                        <div class="list-group-item flex-column align-items-start py-0 px-0">
                          <span class="h4 mb-0"mt-3">
                            Apakah melakukan prosedur yang menimbulkan aerosol?
                          </span>
                          <% if @l_six_first.ls_fourth.is_procedure %>
                            <span class="text-success"><%=icon("fas", "check")%></span>
                          <% else %>
                            <span class="text-danger"><%=icon("fas", "times")%></span>
                          <% end %>
                          <p class="text-sm mb-0">
                            <% if @l_six_first.ls_fourth.is_procedure %>
                              <%= @l_six_first.ls_fourth.explain_of_procedure_alcohol %>
                            <% end %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        <% if !@l_six_first.ls_fourth.nil? %>
          <%# 5 %>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <div class="row align-items-center">
                    <div class="col-8"><h3 class="mb-0">E. Daftar Kontak Erat Kasus</h3></div>
                    <div class="col-4 text-right">
                        <% if policy('LSix::Fifth'.to_sym).new? %>
                          <%= link_to 'Add',
                            new_l_six_first_fifth_path(
                              @l_six_first
                            ),
                            class: 'btn btn-sm btn-neutral' %>
                        <% end %>
                    </div>
                  </div>
                </div>
                <% if @l_six_first.ls_fifths.any? %>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th>Nama</th>
                          <th>Umur</th>
                          <th>Jenis Kelamin</th>
                          <th>Hubungan</th>
                          <th>Alamat</th>
                          <th>Telp</th>
                          <th>Aktifitas</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @l_six_first.ls_fifths.each do |fifth| %>
                            <tr>
                              <td><%= fifth.name %></td>
                              <td><%= fifth.age %></td>
                              <td><%= fifth.gender %></td>
                              <td><%= fifth.relation %></td>
                              <td><%= fifth.address %></td>
                              <td><%= fifth.phone_number %></td>
                              <td><%= fifth.activity %></td>
                              <td class="table-actions text-right">
                                <% if policy('LSix::Fifth'.to_sym).edit? %>
                                    <%= link_to edit_l_six_first_fifth_path(
                                      @l_six_first,
                                      fifth),
                                      class: 'table-action ' do %>
                                      <% icon('fas', 'edit') %>
                                    <% end %>
                                <% end %>
                                <% if policy('LSix::Fifth'.to_sym).destroy? %>
                                    <%= link_to l_six_first_fifth_path(
                                      @l_six_first,
                                      fifth),
                                      method: :delete, data: { confirm: 'Are you sure?' },
                                      class: 'table-action' do %>
                                      <% icon('fas', 'trash') %>
                                    <% end %>
                                <% end %>
                              </td>
                            </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
