<p id="notice"><%= notice %></p>

<p>
  <strong>Main patient:</strong>
  <%= @l_six_first.main_patient %>
</p>

<p>
  <strong>User:</strong>
  <%= @l_six_first.user %>
</p>

<p>
  <strong>Interview date:</strong>
  <%= @l_six_first.interview_date %>
</p>

<%= link_to 'Edit', edit_l_six_first_path(@l_six_first) %> |
<%= link_to 'Back', l_six_firsts_path %>
