<%= form_with(model: lampiran_eleven_close_contact_information, local: true) do |form| %>
  <% if lampiran_eleven_close_contact_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_close_contact_information.errors.count, "error") %> prohibited this lampiran_eleven_close_contact_information from being saved:</h2>

      <ul>
      <% lampiran_eleven_close_contact_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :main_patient_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_patient_id, Main::Patient.all, :slug, :no_identity, {:prompt => 'Choose Patient'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:main_patient_id, Main::Patient.all, :slug, :no_identity, {:prompt => 'Choose Patient', selected: @lampiran_eleven_close_contact_information.patient.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label :main_public_health_center_id %>
    <% if (params[:action]=="new") || (params[:action]=="create") %>
      <%= form.collection_select(:main_public_health_center_id, Main::PublicHealthCenter.all, :slug, :public_health_center, {:prompt => 'Choose Marital Status'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:main_public_health_center_id, Main::PublicHealthCenter.all, :slug, :public_health_center, {:prompt => 'Choose Marital Status', selected: @lampiran_eleven_close_contact_information.public_health_center.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Example (Belum Menikah)", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label :fill_in_date %>
    <%= form.date_select :fill_in_date %>
  </div>

  <div class="field">
    <%= form.label :contact_tracking_date %>
    <%= form.date_select :contact_tracking_date %>
  </div>

  <div class="field">
    <%= form.label :contact_with_positive_case %>
    <%= form.text_field :contact_with_positive_case %>
  </div>

  <div class="field">
    <%= form.label :placement %>
    <%= form.text_area :placement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
