<%= form_with(model: lampiran_eleven_close_contact_information, local: true) do |form| %>
  <% if lampiran_eleven_close_contact_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_close_contact_information.errors.count, "error") %> prohibited this lampiran_eleven_close_contact_information from being saved:</h2>

      <ul>
      <% lampiran_eleven_close_contact_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :fill_in_date, "Tanggal Pengisian Formulir", class: "form-control-label" %>
        <%= form.text_field :fill_in_date, class: "form-control datepicker" %>
      </div>  
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :contact_tracking_date, "Tanggal Pelacakan Kontak/Interview", class: "form-control-label" %>
        <%= form.text_field :contact_tracking_date, class: "form-control datepicker" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="form-group">
        <%= form.label :main_patient_id, "No.KTP", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :no_identity,
            {:prompt => false},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "data-placeholder": "No. Identitas/KTP",
            "title": "",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% else %>
          <%= form.collection_select(:main_patient_id,
            Main::Patient.all,
            :slug,
            :no_identity,
            {:prompt => false,
            selected: @lampiran_eleven_close_contact_information.patient.slug},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "data-placeholder": "No. Identitas/KTP",
            "title": "",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% end %>
      </div>
      <div class="form-group">
        <%= form.label :main_public_health_center_id, "Puskesmas terdekat", class: "form-control-label" %>
        <% if (params[:action]=="new") || (params[:action]=="create") %>
          <%= form.collection_select(:main_public_health_center_id,
            Main::PublicHealthCenter.all,
            :slug,
            :public_health_center,
            {:prompt => false},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "data-placeholder": "Puskesmas",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% else %>
          <%= form.collection_select(:main_public_health_center_id,
            Main::PublicHealthCenter.all,
            :slug,
            :public_health_center,
            {:prompt => false,
            selected: @lampiran_eleven_close_contact_information.public_health_center.slug},
            {class: "form-control",
            required: true,
            "data-toggle": "select",
            "data-placeholder": "Puskesmas",
            "title": "Example (Belum Menikah)",
            "data-live-search": "true",
            "data-live-search-placeholder": "Cari ..."}) %>
        <% end %>
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <%= form.label :contact_with_positive_case, "Hubungan dengan kasus Konfirmasi/kasus PDP", class: "form-control-label" %>
        <%= form.text_field :contact_with_positive_case,
          class: "form-control", placeholder: "Hubungan dengan kasus Konfirmasi/kasus PDP" %>
      </div>

      <div class="form-group">
        <%= form.label :placement, "Lokasi/Tempat", class: "form-control-label" %>
        <%= form.text_area :placement, 
          class: "form-control", 
          rows: 3,
          placeholder: 'Sekolah/Universitas/Tempat Bekerja/Tinggal di rumah' %>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
