<% content_for :judul_page do %>Daftar Kontak Erat<% end %>
<% content_for :header_button do%>
  <%= link_to 'New', 
    new_lampiran_eleven_close_contact_information_path, 
    class: 'btn btn-sm btn-neutral'%>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">3. Informasi Kontak Erat</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Nama Pengumpul Data</th>
              <th>Nama Kontak Erat</th>
              <th>Puskesmas Terdekat</th>
              <th>Tanggal Pengisian Formulir</th>
              <th>Tanggal Pelacakan Kontak</th>
              <th>Hubungan Dengan Kasus Konfirmasi</th>
              <th>Lokasi</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @lampiran_eleven_close_contact_informations.each do |lampiran_eleven_close_contact_information| %>
            <tr>
              <td><%= lampiran_eleven_close_contact_information.user.username %></td>
              <td><%= lampiran_eleven_close_contact_information.patient.name %></td>
              <td><%= lampiran_eleven_close_contact_information.public_health_center.public_health_center %></td>
              <td><%= lampiran_eleven_close_contact_information.fill_in_date %></td>
              <td><%= lampiran_eleven_close_contact_information.contact_tracking_date %></td>
              <td><%= lampiran_eleven_close_contact_information.contact_with_positive_case %></td>
              <td><%= lampiran_eleven_close_contact_information.placement %></td>
              <td class="text-right">
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="">
                    <%= link_to 'Show', 
                      lampiran_eleven_close_contact_information,
                      class: "dropdown-item" %>
                    <%= link_to 'Edit', 
                      edit_lampiran_eleven_close_contact_information_path(lampiran_eleven_close_contact_information),
                      class: "dropdown-item" %>
                    <%= link_to 'Delete', 
                      lampiran_eleven_close_contact_information, 
                      method: :delete, 
                      data: { confirm: 'Are you sure?' },
                      class: "dropdown-item" %>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
