<p id="notice"><%= notice %></p>

<h1>Lampiran Eleven Close Contact Informations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Main patient</th>
      <th>Main public health center</th>
      <th>Fill in date</th>
      <th>Contact tracking date</th>
      <th>Contact with positive case</th>
      <th>Placement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lampiran_eleven_close_contact_informations.each do |lampiran_eleven_close_contact_information| %>
      <tr>
        <td><%= lampiran_eleven_close_contact_information.user.username %></td>
        <td><%= lampiran_eleven_close_contact_information.patient.name %></td>
        <td><%= lampiran_eleven_close_contact_information.public_health_center.public_health_center %></td>
        <td><%= lampiran_eleven_close_contact_information.fill_in_date %></td>
        <td><%= lampiran_eleven_close_contact_information.contact_tracking_date %></td>
        <td><%= lampiran_eleven_close_contact_information.contact_with_positive_case %></td>
        <td><%= lampiran_eleven_close_contact_information.placement %></td>
        <td><%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_path(lampiran_eleven_close_contact_information) %></td>
        <td><%= link_to 'Destroy', lampiran_eleven_close_contact_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if lampiran_eleven_close_contact_information.information_expose.nil? %>
          <td><%= link_to 'Add Information Expose', new_lampiran_eleven_close_contact_information_information_expose_path(lampiran_eleven_close_contact_information) %></td>
        <% else %>
          <td><%= link_to 'Show Information Expose', lampiran_eleven_close_contact_information_information_expose_path(lampiran_eleven_close_contact_information,LampiranEleven::InformationExpose.where('lampiran_eleven_close_contact_information_id = ?', lampiran_eleven_close_contact_information).first) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Lampiran Eleven Close Contact Information', new_lampiran_eleven_close_contact_information_path %>
