<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lampiran_eleven_close_contact_information.user %>
</p>

<p>
  <strong>Main patient:</strong>
  <%= @lampiran_eleven_close_contact_information.main_patient %>
</p>

<p>
  <strong>Main public health center:</strong>
  <%= @lampiran_eleven_close_contact_information.main_public_health_center %>
</p>

<p>
  <strong>Fill in date:</strong>
  <%= @lampiran_eleven_close_contact_information.fill_in_date %>
</p>

<p>
  <strong>Contact tracking date:</strong>
  <%= @lampiran_eleven_close_contact_information.contact_tracking_date %>
</p>

<p>
  <strong>Contact with positive case:</strong>
  <%= @lampiran_eleven_close_contact_information.contact_with_positive_case %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @lampiran_eleven_close_contact_information.placement %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_path(@lampiran_eleven_close_contact_information) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_informations_path %>
