
<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = l_six_first_fifths_path(@l_six_first)
  method = "post"
%>
<% else %>
<% url = l_six_first_fifth_path(@l_six_first,@l_six_fifth)
  method = "patch"
%>
<% end %>
<%= form_for(l_six_fifth, url: url, :method => method) do |form| %>
  <% if l_six_fifth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_fifth.errors.count, "error") %> prohibited this l_six_fifth from being saved:</h2>

      <ul>
      <% l_six_fifth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :name,
          "Nama Lengkap",
          class: "form-control-label" %>
        <%= form.text_field :name,
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :age,
          "Umur",
          class: "form-control-label" %>
        <%= form.number_field :age,
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :gender, "Jenis Kelamin", class: "form-control-label" %>
        <div class="row">
          <div class="col-md-3">
            <div class="custom-control custom-radio">
              <%= form.radio_button :gender, "Laki-Laki",
                id: "medic_officer_ya",
                class: "custom-control-input" %>
              <label for="medic_officer_ya" class="custom-control-label">Laki-Laki</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="custom-control custom-radio">
              <%= form.radio_button :gender, "Perempuan",
                id: "medic_officer_tidak",
                class: "custom-control-input" %>
              <label for="medic_officer_tidak" class="custom-control-label">Perempuan</label>
            </div>
          </div>
        </div> 
      </div>

      <div class="form-group">
        <%= form.label :relation,
          "Hubungan",
          class: "form-control-label" %>
        <%= form.text_field :relation,
          class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :phone_number,
          "No. Telp/HP",
          class: "form-control-label" %>
        <%= form.text_field :phone_number,
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :address,
          "Alamat",
          class: "form-control-label" %>
        <%= form.text_area :address,
          class: "form-control",
          rows: 3 %>
      </div>

      <div class="form-group">
        <%= form.label :activity,
          "Aktifitas Kontak Yang Dilakukan",
          class: "form-control-label" %>
        <%= form.text_area :activity,
          class: "form-control",
          rows: 3 %>
      </div>
    </div>
  </div>
  
  <%= form.submit 'Save', class: 'btn btn-primary' %>

<% end %>
