<%= form_with(model: role, remote: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.text_field :name, autocomplete: 'off', class: 'form-control', placeholder: 'Nama Role' %>
      <div class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :is_show_to_all, class: "custom-control-input" %>
        <label class="custom-control-label" for="role_is_show_to_all">Show All</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :is_surveilance, class: "custom-control-input" %>
        <label class="custom-control-label" for="role_is_surveilance">Surveilance?</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :is_public_health_center, class: "custom-control-input" %>
        <label class="custom-control-label" for="role_is_public_health_center">Admin Puskesmas</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :is_dinkes_region, class: "custom-control-input" %>
        <label class="custom-control-label" for="role_is_dinkes_region">Admin Dinkes Kab./Kota</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <%= form.check_box :is_dinkes_province, class: "custom-control-input" %>
        <label class="custom-control-label" for="role_is_dinkes_province">Admin Dinkes Province</label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
