<%= content_for :judul_page do %>
  Roles
<% end %>
<%= content_for :breadcumb do %>
    <ol class="breadcrumb breadcrumb-links">
        <li class="breadcrumb-item">
          <%= link_to roles_path do %>
            <%= icon("fas", "users") %>
          <% end %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Roles</li>
    </ol>
<% end %>
<% content_for :header_button do%>
  <%= link_to 'New', new_role_path, 
  class: 'btn btn-sm btn-neutral', 
  data: {'toggle': 'modal', }, remote: true %>
<% end %>
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <div class="card">
      <div class="card-header border-0">
        <div class="row">
          <div class="col">
            <h3 class="mb-0">Daftar Roles</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush table-striped">
          <thead class="thead-light">
            <tr>
              <th>Roles Name</th>
              <th>Show All Data</th>
              <th>Surveilance</th>
              <th>Admin Puskesmas</th>
              <th>Admin Dinas Kesehatan Kab. Kota</th>
              <th>Admin Dinas Kesehatan Provinsi</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each do |role| %>
            <tr>
              <td><%= role.name %></td>
              <td><%= role.is_show_to_all ? "Ya" : "" %></td>
              <td><%= role.is_surveilance ? "Ya" : "" %></td>
              <td><%= role.is_public_health_center ? "Ya" : "" %></td>
              <td><%= role.is_dinkes_region ? "Ya" : "" %></td>
              <td><%= role.is_dinkes_province ? "Ya" : "" %></td>
              <td class="text-right">
                <%= link_to edit_role_path(role),
                  class: 'table-action', remote: true,
                  data: {'toggle': 'tooltip', 'original-title': 'Edit'} do %>
                  <% icon('far', 'edit') %>
                <% end %>
                <%= link_to role_role_permissions_path(role), 
                  class: "table-action",
                  data: {'toggle': 'tooltip', 'original-title': 'Config'} do %>
                  <%= icon("fas","cogs")%>
                <% end %>
                <%= link_to role, method: :delete, 
                  data: { 
                    confirm: 'Are you sure?', 
                    'toggle': 'tooltip', 
                    'original-title': 'Delete',
                    'bootstrap-confirm': 'delete' },
                  class: 'table-action' do %>
                  <% icon('fas', 'trash') %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade modal-new" id="newRoles" tabindex="-1" role="dialog" aria-labelledby="newRolesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newRolesLabel">New Roles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderNewRolesForm"></div>  
      </div>
    </div>
  </div>

  <div class="modal fade modal-edit" id="editRoles" tabindex="-1" role="dialog" aria-labelledby="editRolesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editRolesLabel">Edit Roles</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="renderEditRolesForm"></div>        
      </div>
    </div>
  </div>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>