
<%= form_with(model: main_public_health_center, local: true) do |form| %>
  <% if main_public_health_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_public_health_center.errors.count, "error") %> prohibited this main_public_health_center from being saved:</h2>

      <ul>
      <% main_public_health_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :public_health_center %>
    <%= form.text_field :public_health_center %>
  </div>
  
  <div class="field">
    <%= form.label :main_sub_district_id %>
    <% if params[:action]=="new" %>
      <%= form.collection_select(:main_sub_district_id, Main::SubDistrict.all, :slug, :sub_district, {:prompt => 'Choose Kelurahan/Desa'}, {class: "form-control", required: true, "data-toggle": "select", "title": "Kelurahan/Desa", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% else %>
      <%= form.collection_select(:main_sub_district_id, Main::SubDistrict.all, :slug, :sub_district, {:prompt => 'Choose Kelurahan/Desa', selected: @main_public_health_center.sub_district.slug}, {class: "form-control", required: true, "data-toggle": "select", "title": "Kelurahan/Desa", "data-live-search": "true", "data-live-search-placeholder": "Cari ..."}) %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
