
<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = l_six_first_fourth_f_aboard_dests_path(@l_six_first,@l_six_fourth)
  method = "post"
%>
<% else %>
<% url = l_six_first_fourth_f_aboard_dest_path(@l_six_first,@l_six_fourth,@l_six_f_aboard_dest)
  method = "patch"
%>
<% end %>
<%= form_for(l_six_f_aboard_dest, url: url, :method => method) do |form| %>
  <% if l_six_f_aboard_dest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(l_six_f_aboard_dest.errors.count, "error") %> prohibited this l_six_f_aboard_dest from being saved:</h2>

      <ul>
      <% l_six_f_aboard_dest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :country,
          "Negara",
          class: "form-control-label" %>
        <%= form.text_field :country,
          class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :city,
          "Kota",
          class: "form-control-label" %>
        <%= form.text_field :city,
          class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :travel_date,
          "Tanggal Perjalanan",
          class: "form-control-label" %>
        <%= form.text_field :travel_date,
          class: "form-control datepicker",
          autocomplete: "off",
          value: @l_six_f_aboard_dest.travel_date.nil? ? "" : @l_six_f_aboard_dest.travel_date.strftime("%d/%m/%Y") %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :date_arrive,
          "Tanggal Tiba di Indonesia",
          class: "form-control-label" %>
        <%= form.text_field :date_arrive,
          class: "form-control datepicker",
          autocomplete: "off",
          value: @l_six_f_aboard_dest.date_arrive.nil? ? "" : @l_six_f_aboard_dest.date_arrive.strftime("%d/%m/%Y") %>
      </div>
    </div>
  </div>

  <%= form.submit 'Save', class: 'btn btn-primary' %>

<% end %>
