<p id="notice"><%= notice %></p>

<p>
  <strong>Telegram username observer:</strong>
  <%= @telegram_message_traveler_observer.telegram_username_observer %>
</p>

<p>
  <strong>Chat:</strong>
  <%= @telegram_message_traveler_observer.chat_id %>
</p>

<p>
  <strong>Username telegram:</strong>
  <%= @telegram_message_traveler_observer.username_telegram %>
</p>

<p>
  <strong>Message:</strong>
  <%= @telegram_message_traveler_observer.message %>
</p>

<%= link_to 'Edit', edit_telegram_message_traveler_observer_path(@telegram_message_traveler_observer) %> |
<%= link_to 'Back', telegram_message_traveler_observers_path %>
