<%= form_with(model: main_type_contact, local: true) do |form| %>
  <% if main_type_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_type_contact.errors.count, "error") %> prohibited this main_type_contact from being saved:</h2>

      <ul>
      <% main_type_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_contact %>
    <%= form.text_field :type_contact %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
