<%= form_with(model: main_type_contact, remote: true) do |form| %>
  <% if main_type_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_type_contact.errors.count, "error") %> prohibited this main_type_contact from being saved:</h2>

      <ul>
      <% main_type_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.text_field :type_contact, autocomplete: 'off', class: 'form-control', placeholder: 'Nama Jenis Kontak' %>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>
