<p id="notice"><%= notice %></p>

<h1>Main Neighborhood Associations</h1>

<table>
  <thead>
    <tr>
      <th>Neighborhood association</th>
      <th>Main citizen association</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_neighborhood_associations.each do |main_neighborhood_association| %>
      <tr>
        <td><%= main_neighborhood_association.neighborhood_association %></td>
        <td><%= main_neighborhood_association.main_citizen_association %></td>
        <td><%= link_to 'Show', main_neighborhood_association %></td>
        <td><%= link_to 'Edit', edit_main_neighborhood_association_path(main_neighborhood_association) %></td>
        <td><%= link_to 'Destroy', main_neighborhood_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Neighborhood Association', new_main_neighborhood_association_path %>
