<p id="notice"><%= notice %></p>

<p>
  <strong>Neighborhood association:</strong>
  <%= @main_neighborhood_association.neighborhood_association %>
</p>

<p>
  <strong>Main citizen association:</strong>
  <%= @main_neighborhood_association.citizen_association.citizen_association %>
</p>

<%= link_to 'Edit', edit_main_province_city_district_sub_district_citizen_association_neighborhood_association_path(@main_province,@main_city,@main_district,@main_sub_district,@main_citizen_association,@main_neighborhood_association) %> |
<%= link_to 'Back', main_province_city_district_sub_district_citizen_association_neighborhood_associations_path(@main_province,@main_city,@main_district,@main_sub_district,@main_citizen_association) %>
