<% if (params[:action]==="new") || (params[:action]==="create") %>
<% url = lampiran_eleven_close_contact_information_information_expose_close_contact_info_homes_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose)
  method = "post"
%>
<% else %>
<% url = lampiran_eleven_close_contact_information_information_expose_close_contact_info_home_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose)
  method = "patch"
%>
<% end %>
<%= form_for(lampiran_eleven_close_contact_info_home, url: url, :method => method) do |form| %>
  <% if lampiran_eleven_close_contact_info_home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lampiran_eleven_close_contact_info_home.errors.count, "error") %> prohibited this lampiran_eleven_close_contact_info_home from being saved:</h2>

      <ul>
      <% lampiran_eleven_close_contact_info_home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= form.label :address_close_contact_primer, "Lokasi rumah / alamat apabila berbeda dengan kontak primer", class: "form-control-label" %>
        <%= form.text_area :address_close_contact_primer, class: "form-control", rows: 3 %>
      </div>

      <div class="form-group">
        <%= form.label :last_date_close_contact_primer, "Tanggal Terakhir Kontak dengan kasus primer", class: "form-control-label" %>
        <%= form.text_field :last_date_close_contact_primer, class: "form-control datepicker", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_room_contact_or_activity, class: "custom-control-input" %>
          <%= form.label :is_room_contact_or_activity, "Kontak sekamar / beraktifitas yang sama dengan kasus primer", class: "custom-control-label" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :number_of_days_of_contact_activity, "Jumlah hari kontak beraktifitas di ruangan yang sama dengan kasus primer sejak kasus primer tersebut sakit", class: "form-control-label" %>
        <%= form.number_field :number_of_days_of_contact_activity, class: "form-control" %>
      </div>

      <div class="form-group">
        <label for="" class="form-control-label">
          Apakah kontak pernah melakukan aktifitas dibawah ini dengan kasus primer
          pada saat kasus primer sakit di rumah sebelum ke rumah sakit ?
        </label>
      </div>

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= form.check_box :is_treating_primary_case, class: "custom-control-input" %>
          <%= form.label :is_treating_primary_case, 
            "merawat kasus primer pada saat kasus primer sakit / mengantar ke rumah sakit",
            class: "custom-control-label" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_hugging_the_primary_case, class: "custom-control-input" %>
                  <%= form.label :is_hugging_the_primary_case, 
                  "memeluk kasus primer",
                  class: "custom-control-label" %>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_primary_case_shake, class: "custom-control-input" %>
                  <%= form.label :is_primary_case_shake, 
                  "berjabat tangan kasus primer",
                  class: "custom-control-label" %>
                </div>
              </div>
              
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_share_food, class: "custom-control-input" %>
                  <%= form.label :is_share_food, 
                  "berbagi makanan dengan kasus primer",
                  class: "custom-control-label" %>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_drink_using_the_same_place, class: "custom-control-input" %>
                  <%= form.label :is_drink_using_the_same_place, 
                  "minum memakai tempat yang sama",
                  class: "custom-control-label" %>
                </div>
              </div>


              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_use_the_same_toilet, class: "custom-control-input" %>
                  <%= form.label :is_use_the_same_toilet, 
                  "menggunakan toilet yang sama",
                  class: "custom-control-label" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_kiss_the_primary_case, class: "custom-control-input" %>
                  <%= form.label :is_kiss_the_primary_case, 
                  "mencium kasus primer",
                  class: "custom-control-label" %>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_sleep_in_the_same_room, class: "custom-control-input" %>
                  <%= form.label :is_sleep_in_the_same_room, 
                  "tidur di ruangan yang sama",
                  class: "custom-control-label" %>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_eat_using_the_same_place, class: "custom-control-input" %>
                  <%= form.label :is_eat_using_the_same_place, 
                  "makan memakai tempat yang sama",
                  class: "custom-control-label" %>
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <%= form.check_box :is_using_the_same_equipment, class: "custom-control-input" %>
                  <%= form.label :is_using_the_same_equipment, 
                  "menggunakan peralatan yang sama",
                  class: "custom-control-label" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>
