<p id="notice"><%= notice %></p>

<p>
  <strong>Lampiran eleven information expose:</strong>
  <%= @lampiran_eleven_close_contact_info_home.lampiran_eleven_information_expose %>
</p>

<p>
  <strong>Address close contact primer:</strong>
  <%= @lampiran_eleven_close_contact_info_home.address_close_contact_primer %>
</p>

<p>
  <strong>Last date close contact primer:</strong>
  <%= @lampiran_eleven_close_contact_info_home.last_date_close_contact_primer %>
</p>

<p>
  <strong>Is room contact or activity:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_room_contact_or_activity %>
</p>

<p>
  <strong>Number of days of contact activity:</strong>
  <%= @lampiran_eleven_close_contact_info_home.number_of_days_of_contact_activity %>
</p>

<p>
  <strong>Is treating primary case:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_treating_primary_case %>
</p>

<p>
  <strong>Is hugging the primary case:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_hugging_the_primary_case %>
</p>

<p>
  <strong>Is hugging the primary case:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_hugging_the_primary_case %>
</p>

<p>
  <strong>Is primary case shake:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_primary_case_shake %>
</p>

<p>
  <strong>Is drink using the same place:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_drink_using_the_same_place %>
</p>

<p>
  <strong>Is use the same toilet:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_use_the_same_toilet %>
</p>

<p>
  <strong>Is kiss the primary case:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_kiss_the_primary_case %>
</p>

<p>
  <strong>Is sleep in the same room:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_sleep_in_the_same_room %>
</p>

<p>
  <strong>Is eat using the same place:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_eat_using_the_same_place %>
</p>

<p>
  <strong>Is using the same equipment:</strong>
  <%= @lampiran_eleven_close_contact_info_home.is_using_the_same_equipment %>
</p>

<%= link_to 'Edit', edit_lampiran_eleven_close_contact_information_information_expose_close_contact_info_home_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose,@lampiran_eleven_close_contact,@lampiran_eleven_close_contact_info_home) %> |
<%= link_to 'Back', lampiran_eleven_close_contact_information_information_expose_close_contact_info_homes_path(@lampiran_eleven_close_contact_information,@lampiran_eleven_information_expose,@lampiran_eleven_close_contact) %>
